[2021-04-26 17:47] crossLineApex commented on #128
Thanks man. You were a great help. I'm able to understand the code now

[2021-04-26 17:51] crossLineApex commented on #128
One last doubt here. How should I send url as a prop to the SpinningBox component ?

[2021-04-26 17:53] brianzinn commented on #128
[code]

[2021-04-26 18:07] crossLineApex commented on #128
But I'm rendering the SceneWithSpinningBoxes component and SpinningBox is a part of SceneWithSpinningBoxes. Do you have any suggestion for that ?

[2021-04-26 18:12] brianzinn commented on #128
You can always pass it from your `index.js` and use prop drilling - at some place you would need to introduce the property.  If you are using state management then you can introduce the URL there.  `SpinningBox` *is* part of `SceneWithSpinningBoxes`, so maybe you meant something else?  I would avoid sending it from the app entry point (index.js) and look for a way with components.  Otherwise feel

[2021-04-26 18:16] crossLineApex commented on #128
I'll try to find a solution myself without disturbing you now!! If anything pops up will let you know

[2021-04-26 18:17] brianzinn commented on #128
I don't mind at all - please re-open if you have any questions 😄

[2021-04-26 18:17] #128 closed

[2021-04-27 15:42] dennemark opened #129 "useAssetManager disposeInstanceOnUmount"
Hey,

I seem to be running into an issue when using useAssetManager.
Assume I have a 3d model at a specific url, that I would like to load/unload multiple times. I use useAssetManager to cache the 3D model and insert it into my react component via:

[code]
1. Now i.e. I create `<MyComp urlToModel="/my/path" />`, the model gets loaded.
2. Afterwards I unmount MyComp for whatever reasons.
3. At a la

[2021-04-27 16:28] brianzinn commented on #129
I was waiting for somebody to come up with this one!  It's to do with how the promise needs to be cached (for fallback), but mainly due to how BabylonJS handles meshes in a scene that we are caching something attached to a scene instead of something we can "add" to a scene (like a basic geometry).  Perhaps in the unmount once the model is loaded the cache used could be cleared.  Let me think about

[2021-04-27 16:54] brianzinn commented on #126
Closing from inactivity and it looks resolved - please re-open if you have more questions or comments.

[2021-04-27 16:54] #126 closed

[2021-04-28 07:02] dennemark commented on #129
Hi,
yes I am reusing the model without changes. And I agree the way Babylon handles geometry makes this issue a bit more complicated.
Is the above mentioned useEffect similar to just using another name/key for the task? It would lead to a complete redownload of the model (yes maybe from local cache) and initialize it again. I assume useAsset (by pmndrs) would be probably similar.

I think having s

[2021-04-28 17:49] brianzinn commented on #129
Having multiple models simultaneously is something I'd like to fix at the same time.  The problem is that the component itself is completely reloaded everytime, since a promise is thrown - so cannot pass in a unique ID or anything.  I'm a bit stuck to be honest on how to solve both problems at the same time.  From what I saw `useAsset` would have the same issue, which is why I didn't go with it or

[2021-04-28 19:17] brianzinn commented on #129
@dennemark  Also, did you mean that you can switch models instantly with your code using `setEnabled`, but also that you don't load multiple of same model into your scene at the same time, right?

[2021-04-29 06:48] dennemark commented on #129
@brianzinn yes I am switching via setEnabled. My react component is unmounted and as soon as I mount it again, I get my old asset via useAssetManager and set enabled to true. This works very well. I guess if I do not alter the model, I could probably even use multiple components, since I use <mesh fromInstance={myAsset} ...

Concerning having multiple models simultaneously, I am wondering if you a

[2021-05-06 06:48] kyehuelin opened #131 "colorPicker value not changing"
currently running
[code]
Hi Brian, when i set the value to a given color the colorpicker is not updating to that color, it just stays red, which i guess is the default color.

[code]

[2021-05-07 02:08] brianzinn commented on #131
thanks for reporting @kyehuelin .  I will investigate - have never actually used that control before :)

[2021-05-07 05:01] brianzinn commented on #131
It seems like a bug in babylonjs where it's not invalidating the control to redraw.  Here is a codesandbox to reproduce:
https://codesandbox.io/s/falling-voice-p4sjs?file=/src/App.js

Notice that the color is changing in the inspector, but not in the UI:
![image](https://user-images.githubusercontent.com/542756/117398759-d7edd880-aeb3-11eb-9c93-0b659b30bc82.png)

![image](https://user-images.githu

[2021-05-07 05:07] brianzinn commented on #131
Actually I found the reason.  It's because I do a copyFrom.
[code]
That won't trigger the code needed to update the GUI (https://github.com/BabylonJS/Babylon.js/blob/master/gui/src/2D/controls/colorpicker.ts#L49).  I think there will be no adverse side effects if I change that to assignment.

[2021-05-07 05:37] brianzinn commented on #131
Good find - took me a bit of digging, because I was looking in the wrong place!!  Fixed in version `3.0.15`.  please re-open if it's not working.

[2021-05-07 05:37] #131 closed

[2021-05-07 05:43] brianzinn commented on #127
I think i'll mark this as closed, but feel free to re-open and we could work on a solution.

One interesting thing we could add is a hook that you can attach to a ref (that is a control or AdvancedDynamicTexture).  And it wraps the font loading code and I think you just need to call `_markAsDirty()` on the (root) rectangle that is created for the GUI and it should force a redraw - I think my mista

[2021-05-07 05:43] #127 closed

[2021-05-07 09:45] kyehuelin commented on #131
Hi Brian, Ive realised that this maybe a wider issue with all Intrinsicelements values being passed as props.

for example, all the lights have a diffuse and specular, which have the same problem as colorPicker. once the value are set, there is no changing them again.

[2021-05-07 18:23] kyehuelin commented on #131
@brianzinn  added a bit more :)

[2021-05-14 22:17] sstolzenberg commented on #70
Hello!
I am obviously very new to react-babylonjs:
How I can properly set up "yourNonReactMaterial" in the above context?
I.e. I know that imperatively, this can be done like here:
https://doc.babylonjs.com/divingDeeper/materials/using/materials_introduction
but then, e.g., the scene is defined as "scene" and not in the context of " \<Scene\> ".
Simply leaving out "scene" in
var myMaterial = new B

[2021-05-15 05:44] brianzinn commented on #70
@sstolzenberg good questions.  Easiest way is to use a hook to get the scene.
[code]

if you are doing much more than that (or want more declarative approach and props to update your material) you may consider using the `useSceneLoader` hook itself (instead of the Model component).  There is not much going on in the Model component actually (https://github.com/brianzinn/react-babylonjs/blob/master

[2021-05-15 17:30] MikeMcMahon opened #132 "Writing tests with enzyme in react-17 fails due to camelCaseNames"
We are running React-17 with react-babylonjs and writing some unit tests for various aspects of the world.

The majority of our tests run fine (against non-jsx code) however react-17 requires PascalCase components to work correctly.  Our tests are throwing errors like

[code]

which follows up with an error as such

[code]

Libraries we are using for testing:

* Jest
* Enzyme

 I'm trying to find

[2021-05-15 20:28] brianzinn commented on #132
The camelCase naming convention for intrinsic elements (host elements in renderer) does match the SVG implementation:
https://github.com/preactjs/preact/blob/master/src/jsx.d.ts#L909

PascalCase is only for react Components as you know, so not for for the "host" elements of the renderer.  The lowercase are for HTML elements (like div/span).  Are you able to render those svg elements that are in ca

[2021-05-16 07:16] shaderstack opened #133 "Unable to run the storybook locally"
I'm trying to run `npm run storybook`. Getting this error currently on my ubuntu machine -

[code]

Let me know if more info is needed to debug this.

[2021-05-16 15:29] brianzinn commented on #133
Hi, sorry you ran into that one. It’s a pain. The “type: module” needs to be removed from storybook. I keep intending to move storybook into a sub folder completely - not just to fix that, but to clean the dependencies as well. I think I can get to that next month, finally...

[2021-05-16 15:59] MikeMcMahon commented on #132
ah, no cigar, still has the same error - but this makes me believe this is a lot less react-babylonjs and more of an enzyme + react thing.  I'll see if I can work it from that angle for a bit and see.  I may have to wrap the react-17 adapter (since it is unofficial while an official one is worked on).

[2021-05-16 16:11] brianzinn commented on #132
The other thing is that it’s a warning you can maybe disable?  It’s better to rely on a linting library IMO to correct those things :)

[2021-05-16 17:06] shaderstack commented on #133
Cool, thanks. Closing this.

[2021-05-16 17:06] #133 closed

[2021-05-16 17:11] MikeMcMahon commented on #132
yeah, I was able to get jest to swallow and ignore the warnings, but the code coverage shows that none of the props or hooks are getting called (I can't test any `onCreated()` functions etc).

I need to rethink how I'm attacking the tests now, we can probably safely close this out.  I may need to open an issue with enzyme or the react-17 adapter to figure out how they expect IntrinsicElements to b

[2021-05-21 18:27] MikeMcMahon commented on #132
Just an update on this, i was able to use react-test-renderer to get the components to render-ish.  I'm finding that something in the react-reconciler is not triggering as none of the components hooks are firing (like onCreated).  It looks like this bit is owned by the `createReconciler()` which eventually uses the `ReactBabylonJSHostConfig`.

Not sure what the disconnect is, and I have to say I'm

[2021-05-21 19:54] brianzinn commented on #132
I don't know if this is helpful.  I myself haven't done this type of testing before:
https://reactjs.org/docs/testing-recipes.html#multiple-renderers

I wonder if adding a test renderer would work for your scenario - do you need specifically the `onCreated` events to be captured or would getting the scene graph in a testable format be enough (ie: behaviour or state testing)?  Maybe you can provide

[2021-05-21 20:49] konsumer commented on #132
Sorry if I'm jumping in, out of place, but I feel like this is mixing concerns a bit, and I saw this scroll by in my notifications. I worked on the the custom renderer for this project, but I am just expressing my general opinions about testing with react here, hoping it will help.

There are unit-tests (test isolated "units") and there are functional tests ("I loaded the whole thing how it should

[2021-05-21 21:06] MikeMcMahon commented on #132
```Qualified path resolution failed - none of the candidates can be found on the disk.``` when I try to use the createReconciler function haha.

[2021-05-21 21:12] konsumer commented on #132
@MikeMcMahon do you have a link to your code, or some subset that illustrates the issue? I'm willing to take a look.

I can't be sure how it's structured, but It helps me a lot to do everything as "dumb components" (presentational only) and keep logic & data in hooks. That way you can write simpler stories for just the dumb components, and more precise unit-tests that target individual hooks and c

[2021-05-21 21:13] MikeMcMahon commented on #132
Not out of line at all to jump in, and I understand your sentiments.  There is a lot of code that's not very decomposable within the hooks that we need and want to verify does what we think it does.  Not all of it is presentation.  That is all I want to get to. I want to be able to fire up a dummy scene on a null engine, mount in one of our components that encompasses a lot of functionality, and e

[2021-05-21 21:16] konsumer commented on #132
I guess this is the part i am getting at. I would strive to make that code "more testable". I know how it is, and sometimes it just isn't simple to do that, but "more testable" also means "easier to reason about" which has many benefits outside of my own testing setup (for larger teams this can be really important.)

[2021-05-21 21:17] MikeMcMahon commented on #132
this is exactly the problem, we use hooks to compose the data side of things.  Our onCreated hooks are not firing which means we can't unit test that functionality.  What happens when <mesh fromInstance> is mounted into the world and the onCreated() hook fires (which performs a lot of work in and of itself).  I can't share too much due to the fun of NDAs but we're not able to get a complete lifecy

[2021-05-21 21:18] MikeMcMahon commented on #132
to be fair we can extract the onCreated() into functions but then I have a function to call a function and that is unnecessary refactoring really.

especially when onCreated() may be interfacing with refs in the scene/component.  It ends up making things a little harder to reason about (needing to pass in mutableref objects or state callbacks)

[2021-05-21 21:27] konsumer commented on #132
I understand. If you could reproduce the specific issue as an isolated project, I could probably help more.

Or split the "a lot of work in and of itself" into many hooks, which is more my point. If you can test all the things it does separately, and they work ok, isolated from the other stuff around them, you can narrow it down to "that is a bug with react-babylonjs's `onCreated` it's not firing

[2021-05-21 21:42] MikeMcMahon commented on #132
let me see if I can come up with a Short, Self Contained, Correct example that doesn't work! We make use of useEffects() to manage complex state interactions so being able to unit test between props changes and mount/unmount would be super helpful.

We try to limit refs where we can, they are a bit like global state inside of a component, but they definitely have their use cases.

[2021-05-21 21:48] konsumer commented on #132
Sounds good. I am happy to take a look.

I think it would be useful here to see this use-case, too. We can narrow it down to what exactly causes the problem, and it definitely may be a bug with how refs or lifecycle stuff is implemented.

For sure. It can be the best way to work with an object in react-babylonjs, not a criticism, just a sidenote that it can make things more complicated, especially

[2021-05-21 22:02] konsumer opened #134 "New peerDependencies issues"
I have seen this issue on a lot of node projects that have peer-deps with node > 15.

The quick-hack solution:
[code]

I was recently setting up a storybook with this project, so I clone it and run `npm i` and get this error:

[code]

Here is output of `npm version` on Pop!OS (very similar to Ubuntu) 20.10:
[code]

Generally, when I encounter this on other things, I have to go through and update d

[2021-05-22 00:12] MikeMcMahon commented on #132
OKAAAAY - I was able to get it figured out now :D - I took note of what @brianzinn linked me to finagle things a bit.  What did eventually work for me was using an `EngineCanvasContext` wrapping a `<Scene />` vs a `SceneContext` wrapping the elements themselves (I even tried to write my own `NullEngine` component which did not work at all).
[code]

in hindsight, this should have been a LOT more cl

[2021-05-22 00:33] #132 closed

[2021-05-22 01:19] konsumer commented on #132
@MikeMcMahon would you be willing to share your complete test apparatus? Like not any NDA'd components or anything, just the thing you wrap around your components to test them. It might be handy for people to see how to isolate these kinds of tests. While it's not really my style of testing, I do see the value, it seems much faster to quickly get an initial component complete with tests, and it's

[2021-05-22 15:37] MikeMcMahon commented on #132
We have one file basically composed as such:  `prefabScene.tsx` which gives us a prefabricated scene with just enough to be ready and renderable (though not shown here, we can override the rendering loop and only run a specific number of frames if necessary, but it wouldn't be too hard to envision where that code may live).

[code]

and then in another test such as `someComponent.test.tsx` we have

[2021-05-23 02:19] brianzinn commented on #132
thanks @MikeMcMahon - also for providing your working example!  I had actually clued in before and was going to let you know about the EngineCanvasContext.Provider - that is how to connect React Native (with their useEngine and passing back the camera).  Anyway, glad that you got it all connected and figured out.  I will definitely take what you have provided there and include test cases here on t

[2021-05-26 15:20] Sewdn opened #136 "Support for multiple views rendering multiple scenes"
Hi @brianzinn !

Is there any support to use multiple canvases rendering multiple scenes:
- https://doc.babylonjs.com/divingDeeper/scene/multiCanvas
- https://doc.babylonjs.com/divingDeeper/scene/multiScenes

The goal is to build an app that allows for:
- using a default scene with a free camera to move around a scene and select objects
- when object is selected, show UI controls to show details
-

[2021-05-26 16:29] brianzinn commented on #136
Hi @Sewdn - I would like to support that scenario.  The underlying reason that the Engine and Scene components were separated was to allow multi-scene functionality.  We will need to add a way to control the render loop based on activeView.  Are you able to share the procedural approach you have used and then we can look at a declarative solution?

[2021-05-26 19:06] Sewdn commented on #136
Multiple scenes for the same canvas with the same canvas, shouldnt be a problem with the current approach. There should currently be a declarative support for using multiple Scenes withing the same Engine(Provider), for:
- rendering multiple scenes at once on the same canvas: https://playground.babylonjs.com/#L0IMUD#1
- rendering multiple scenes in sequence on the same canvas https://playground.ba

[2021-05-26 19:40] brianzinn commented on #136
There is a recent ongoing discussion (https://github.com/brianzinn/react-babylonjs/discussions/130) and I hope to unify `engine.registerView(...)` and `camera.viewport`.  We can also consider custom host elements like `<viewport>` or `<view>` that could be understood by the reconciler (ie: when a camera is created we can walk up the treegraph) then the canvas could be perhaps a prop of the viewpor

[2021-05-26 22:09] brianzinn commented on #136
There's an EngineView created on `engine.registerView(...)` (https://doc.babylonjs.com/typedoc/classes/babylon.engine#registerview).  My proposal is then to support that declaratively.  The registerView method has 2 parameters: canvas and optional camera.  I am still working out a simple way to attach a camera that makes sense declaratively (there is also a `target` property on the EngineView (htt

[2021-05-27 08:54] Sewdn commented on #136
Thanks for your swift responses and action!

I'll invest more time in this next week. Short feedback on your proposal:
We need developer-friendly support for 4 different use cases:

- [x] 1. one scene on one canvas
- [x] 2. multiple scenes on one canvas
- [ ] 3. one scene on multiple canvases
- [ ] 4. multiple scenes on multiple canvases

I think your proposal allows for completeness of 3. and 4.

[2021-05-27 09:15] Sewdn commented on #136
The complex part wouldnt be registering the views dynamically, but rather unregistering them, when they are destructed. My first experiments are not succeeding in correctly cleaning them up (even not procedurally).

The other complex part would be in setting op a generic renderLoop function that renders only the scenes, that have at least one activeCamera that was registered with an engineView.

[2021-05-31 08:50] JLTG2020 opened #137 "Unhandled Rejection (Error): Cannot find module '@babylonjs/core/Maths/math'"
When I use react-babylonjs I get this error.
<img width="833" alt="截屏2021-05-31 下午4 48 46" src="https://user-images.githubusercontent.com/70514222/120167238-1450f200-c230-11eb-96f7-d85b3bda7291.png">

But when I use babylonjs directly,Everything is OK.

[2021-05-31 16:12] brianzinn commented on #137
What version of  `@babylonjs/core` are you using?

[2021-05-31 16:14] JLTG2020 commented on #137
4.2.0

[2021-05-31 16:15] JLTG2020 commented on #137
4.2.0

[2021-05-31 16:44] brianzinn commented on #137
I think you need to clear `node_modules` directory and install again.

[2021-06-01 15:31] JLTG2020 commented on #137
Thank you

[2021-06-02 11:46] Chargeuk opened #138 "Support for Babylonjs v5"
Hi - I was wondering if you have pans to support the upcoming V5 alpha version of babylonjs?

v5 I managed to get alpha 17 working a while ago, but the @babylonjs/gui had to stay at 4.2 otherwise the following error occurs:

Failed to compile.

./node_modules/react-babylonjs/dist/react-babylonjs.js
Module not found: Can't resolve '@babylonjs/gui/3D/materials/fluentMaterial' in 'F:\Dev\babylon-js\b

[2021-06-02 18:12] brianzinn commented on #138
hi @Chargeuk

I did notice that and have been meaning to fix, but I'm not entirely sure how to fix yet 😞 The underlying issue is that some imports have moved from 4.2 to 5.0.  One solution is to fix the downstream to include the extra export for backwards compatibility, but I hope to find a solution outside of the dependent library.

babylonjs is a peer dependency.  In order to support both 4.2 an

[2021-06-02 18:26] Chargeuk commented on #138
Hi @brianzinn,
Thanks for the info, I really appreciate how responsive you are.

What you say makes sense, I can't think of a way that you could support both v4.2 and v5.x versions of Babylonjs from within a single package either... The only thing that would make sense is to maintain 2 versions, which I realise would probably increase your workload too much.

I did fork your repository in order to

[2021-06-02 18:47] brianzinn commented on #138
To generate the code, you just need to run `yarn generate-code` (and I think you need to remove `type: "module"` in package.json).  I think the 5.0 is a long ways from GA, but I was thinking also that a fork is the only way - especially with how I did github actions I can't manually maintain 2 NPM streams.

[2021-06-02 18:58] Chargeuk commented on #138
Thanks for the info - I managed to get everything working with babylon v5.0.0-alpha.24 and have proven it works with my current babylon-react project. 👍

[2021-06-02 20:59] brianzinn commented on #138
glad you got it working...  I still need to figure out what to do going forward.  There are already too many good things in 5.0 😄

[2021-06-03 06:26] kyehuelin opened #139 "state not changing in callback function"
Hi Brian, Im having an issue where the data in a callback function is not accessing the current value in state

say i have a call back function whos data changes with state

`const [data, setData] = useState(null);`

set data somewhere in component

`setData(someData);`

Make a callback function which uses the data state

[code]

then that callback is passed to the react-button

[code]

the data g

[2021-06-03 18:54] brianzinn commented on #139
I would have to see more code, but is it possible that your variable is being brought in via closure (and stale during the callback)?

[2021-06-03 21:52] brianzinn commented on #139
actually... sorry.  it's because `onPointerClick.add(..)` is only called once.  it's a problem with this library not detecting the new function and removing old and adding new.

[2021-06-04 02:10] kyehuelin commented on #139
Nice one,

Is that a problem accross all the observables? is this something you can fix?

[2021-06-04 03:17] brianzinn commented on #139
Yes, it is a problem across all.  The fix needs to go here:
https://github.com/brianzinn/react-babylonjs/blob/master/src/UpdateInstance.ts#L47

I think I would just need to get the observer being returned and to remove the existing one for that property (if it exists) and then set the new one.  I can use the `hostIntance` to track the observables with `Record<string, Observer<any>>`.

Once that is

[2021-06-04 19:26] brianzinn commented on #139
hi @kyehuelin I have updated the repository, but it's not ready for NPM.  I needed this kind of syntax for it to work:
[code]

One major issue with current implementation is that inline arrow functions are detected as a change on every render (as they are different).  It was causing an infinite loop in the reconciler (same with useCallback without specifying a dependency array).  I don't know if y

[2021-06-05 04:16] brianzinn commented on #139
hi @kyehuelin .  it's a good thing I wrote 100% coverage on the observables for my state machine project, so that it actually clicked what was happening 🤦‍♂️ I was adding to the observable during the callback and creating an infinite-loop.  What I do now is update the callback and I suspect that it should be working as expected.  One thing to note is that when the function changes it will re-assig

[2021-06-05 05:08] kyehuelin commented on #139
thank you very much for looking into this and doing the fix. i will go ahead and test the update after the weekend when I get back to it.

[2021-06-06 17:38] #138 closed

[2021-06-07 05:45] kyehuelin commented on #139
hi @brianzinn I checked my code and things are now working well for the above issue. thanks.

[2021-06-07 05:52] kyehuelin opened #140 "diffuse and specular props not re rendering light in scene"
Hi brian,

Im having an issue where the specular and diffuse of light components are not getting updated when new prop values are being passed

I know from the console.log that data.color is being changed, but the light does not reflect the change

any help would be appreciated thanks.

[code]

[2021-06-07 06:07] brianzinn commented on #136
hi @Sewdn - sorry taking so long.  Been extremely busy lately.  I am able to do this right now:

[code]
I'll try to add proper declarative support as indicated above and also verify the multi-scene functionality.  I haven't published to NPM yet, but if you were keen you could build locally and run storybook to see it working.

[2021-06-07 06:09] brianzinn commented on #136
Also, these engine views should `unRegisterView` automatically, but may need to store a canvas reference compared to how it is being done currently.

[2021-06-07 06:11] #139 closed

[2021-06-07 06:15] brianzinn commented on #140
Thanks @kyehuelin for reporting.  I'll get back to you tomorrow on this.  Haven't come across that one before.  Sounds like you are logging the color change and the pointLight doesn't update.

[2021-06-07 07:52] kyehuelin commented on #140
@brianzinn

yes, so ive got some sliders changing various props (intensity, range, color).  the console.log shows that the data is changing.

the intensity and range are updating fine. color does not.

its interesting that intensity and range are raw values and color is a class. is it possible that there is an incorrect comparison being made on the reference rather than the data of the class. (r,g

[2021-06-07 17:45] brianzinn commented on #140
How are you setting `data.color`?  This works for example:
[code]

The reconciler is calling Color3 equals method, which checks r, g and b.  Are you maintaining the same reference - if so I can update my example that maintains Color3 ref.

[2021-06-09 04:49] kyehuelin commented on #140
ah, when i use

[code]

it works. I guess the i was saving the ref of the color in the store and not a copy of the data. so Ill update my store to copy values in rather than the ref of the object

thank you

[2021-06-09 05:12] brianzinn commented on #140
It should work though without you creating a new Color3.  I am calling equals on the instance:
https://github.com/BabylonJS/Babylon.js/blob/master/src/Maths/math.color.ts#L141

It should be checking r/g/b values.  Here is the comparison I do:
https://github.com/brianzinn/react-babylonjs/blob/master/src/PropsHandler.ts#L245

If you could share a repro then hopefully I would be able to figure it out

[2021-06-18 08:19] JLTG2020 commented on #137
https://github.com/JLTG2020/react-ts-quick-starter

[2021-06-18 08:22] JLTG2020 commented on #137
I try to clear node_modules and yarn.lock.But it is not work.This is my repo:
https://github.com/JLTG2020/react-ts-quick-starter
I cannot find any problem.Please help me, Thank you very much!

[2021-07-04 12:29] rikkertkoppes opened #144 "using a model multiple times"
I am trying to display the same model multiple times. What I probably mean is multiple instances of the same model as the geometry and textures are all the same.

my initial approach was just using `<Model>` multiple times (as a component I can reuse)

[code]

however, the object is displayed only 1 time. I am not sure why actually, so any insights here are welcome

Next, 1 tried using `useSceneLo

[2021-07-05 20:25] brianzinn commented on #144
Yes, that is a good question.  It has popped up before and it actually deserves a "recipe" page on it's own.  Here is an example from another issue that is similar and explains the mechanism and **why** it is not working for you.
https://github.com/brianzinn/react-babylonjs/issues/129

For a way to declare instances of existing meshes there are examples linked from here:
https://github.com/brianzi

[2021-07-05 20:40] brianzinn commented on #140
going to close, since you found a solution - despite the behaviour working not as I was expecting.  Please re-open if you'd like to work on references updating the color, which was how I would expect - there may be a bug there on my side.  Cheers.

[2021-07-05 20:40] #140 closed

[2021-07-16 00:23] saidmoya12 opened #146 "<glowLayer ..> addIncludedOnlyChildren option"
Request
glowlayer affect only children if is presset

I need use two different glowLayers at time

so
[code]

it's posible or what solution could I do?

Thanks!!

[2021-07-16 06:44] brianzinn commented on #146
That would be possible - what is happening currently?

[2021-07-20 01:16] saidmoya12 commented on #146
Actually if I put two glowLayers the last glowLayer override all before

So in my example "glow1" override intensity of "glow0"

I can't use addIncludedOnly={} becouse children are loaded dynamically with react router but I accept suggestions!

Thanks!

[2021-07-20 15:56] brianzinn commented on #146
I haven't experimented multiple glow layers before, but it looks like it could be done how shadows are done, but that would require knowing mesh names (not ideal for `Model`!).  What you are proposing is possible as well, but it requires the meshes to be declared nested in the `<glowLayer>...</glowLayer>` - it would require all meshes once created to walk the hierarchy up looking for a GlowLayer a

[2021-07-31 10:57] joenye opened #147 "useClick hook fires after "onmousedown" rather than after "onmouseup""
As described in the [Web API docs](https://developer.mozilla.org/en-US/docs/Web/API/Element/click_event), a click event "fires **after** both the mousedown and mouseup events have fired, in that order."

The [current useClick hook](https://github.com/brianzinn/react-babylonjs/blob/f4b85ae57a8e3e44f2a806a755ee106e4412189c/src/hooks/utilityHooks.ts#L149) uses the [OnPickTrigger](https://doc.babylonj

[2021-07-31 11:05] joenye commented on #147
Actually, never mind. I just realised `OnPickTrigger` is the correct trigger to use, I just had a bug in my code!

[2021-07-31 11:05] #147 closed

[2021-08-02 04:02] brianzinn commented on #137
hi @JLTG2020 sorry, I did not see that you had re-opened this issue.  What I did was downgrade to `react-babylonjs@2.3.2` and was able to get your repo started.  One big difference from 3.0 was that I added to package.json `"type": "module",`.  If I remove that from the `react-babylonjs` package.json then your project does load even on @latest.  I would defer this as a bug in your starter webpack

[2021-08-02 04:33] brianzinn commented on #134
this will be solved when I move storybook out of main project - the dev dependencies are just too much with storybook as part of main repo.  going to close, but thanks for sharing the issue.

[2021-08-02 04:33] #134 closed

[2021-08-02 04:34] brianzinn commented on #144
closing from inactivity.  hope those links helped you find a solution.  please re-open if you have more questions or require a better solution.

[2021-08-02 04:34] #144 closed

[2021-08-03 06:03] brianzinn commented on #146
@saidmoya12  I've started on it.  I had to fix something first that has always bothered me, which was that all custom props are available on all host elements.  I wasn't going to add any more custom props until that was fixed, but am ready for yours now.  Will free up more time for that.  Sorry for delay.

[2021-08-04 16:31] saidmoya12 commented on #146
Thanks!!

[2021-08-05 03:34] CynicalBusiness opened #148 "Build failures with Webpack 5"
It looks like Webpack 5 introduced a breaking change to some module resolution, and now `react-babylonjs` cannot be bundled into my app without disabling fully specified module paths in their entirety.

Using:
- `webpack@5.34.0`
- `@babylonjs/core@4.2.0`
- `react-babylonjs@3.0.17`

Tested this happens with `node@12.14.0` and `node@14.16.1`.

My console gets flooded with the following error:
[code]

[2021-08-05 20:17] brianzinn commented on #146
HI @saidmoya12 - Need to add support for Models still, since they work a bit differently.  This will be a great feature also for ShadowCasting.  Seems like adding the root model wasn't enough (you can see the boxes have different intensities).
![image](https://user-images.githubusercontent.com/542756/128414826-642b0312-c239-4680-a257-5c862d7531e8.png)

[code]

[2021-08-06 06:35] brianzinn commented on #146
@saidmoya12 it's working. i'll publish an NPM tomorrow.  I'll be adding same concept for shadow generators - thanks for the great idea :)

[2021-08-06 15:54] brianzinn commented on #137
I will fix this - sorry that I closed it as I thought it was the other project misconfigured.   #148 has same issue.

[2021-08-06 15:57] brianzinn commented on #148
Thank-you for the explanation and the webpack references.  I will look today for the solution.

[2021-08-06 19:59] brianzinn commented on #146
Above example should work on 3.0.18 - declarative meshes and/or `<Model ... />`.  Please re-open if you have any questions/issues.

[2021-08-07 05:03] #146 closed

[2021-08-08 06:25] brianzinn commented on #148
@CynicalBusiness can you see if it's fixed for you `3.0.19`?

[2021-08-08 06:27] brianzinn commented on #137
hi @JLTG2020 - I think it is fixed in `3.0.19`. I was able to load your example repo with my latest version linked.  Can you confirm if it is working for you now?

[2021-08-11 04:06] CynicalBusiness commented on #148
@brianzinn Apologies for the late response, but it does indeed appear to be working in `3.0.19` :tada:

Thanks for the quick fix.

[2021-08-11 04:06] #148 closed

[2021-08-11 04:13] #137 closed

[2021-08-13 03:07] brianzinn commented on #134
just confirmed it is fixed now with node 16.6.2.

[2021-08-24 03:01] Alecell opened #150 "[BUG] Non-Declarative Method with Typescript"
The non-declarative method with typescript has a type error that says that we need to declare a `children` inside the `Scene`.

The point is that, when we use the non-declarative way we would not use children inside the `Scene` so the component should not throw type error when don't have `children`.

![image](https://user-images.githubusercontent.com/13935760/130548506-467ad0be-5538-4cea-b015-e578

[2021-08-24 03:09] brianzinn commented on #150
Do you mean that you have ‘<Scene ... />’? I agree that should be allowed, but also if you just want a canvas and Engine and Scene attached without declarative have a look at ‘babylonjs-hook’ NPM. Can you share how you declare your scene?

[2021-08-24 10:29] slash9494 opened #151 "light,Scene Gizmo does not appear"
i add light, scene gizmo on react-babylon
but it might be required more condition or bug?
i arrange like this

[code]
but gizmo is not appear

i searched on babylon-forum
and i found you propose adding custom prop, `autoAttach=false
`but i don't know how to apply this custom prop

i hope you try to solve this gizmo issue

[2021-08-24 14:40] Alecell commented on #150
Yes, the error shows when I use a `<Scene />`. Thats the snippet:

[code]

The error shows even when I download the non-declarative example.

[2021-08-24 17:03] brianzinn commented on #150
I’ll fix that. Thank-you for reporting.

[2021-08-24 18:07] Alecell commented on #150
Btw thank your for the recommendation of the `babylonjs-hook` I was reading about this and makes a lot more sense to use it as I go to the non-declarative approach.

Thanks again 😄

[2021-08-25 05:39] brianzinn commented on #151
I’ll fix that this week - thank you for reporting and sharing the code.

[2021-08-29 11:24] joenye commented on #110
Thanks for the breakdown. I have a couple of ideas I'm keen to hear your thoughts on.

The first is we could support this without needing a breaking change if, by default, all classes are registered like you have now. The change would be allowing developers to override this default list (something like your example of registering a GridMaterial). Although if you only see the errors for missing imp

[2021-08-29 19:00] brianzinn commented on #151
@slash9494 i have made a bunch of changes, but unsure what the expected behaviour is - can you share a Babylon playground with imperative version and then I will double check and publish this new version? For example I don’t see how you are attaching to a mesh - I am unfamiliar with the camera gizmo, did you mean to put a transformNode in the scene to attach and disable pointer drag events?

[2021-08-30 05:57] slash9494 commented on #151
I just attach light or camera gizmo on the scene, and can handle gizmo direction, position like this playground
https://playground.babylonjs.com/#20OAV9#3731  - simple spot light gizmo

Actually, i have tried light gizmo at first, so i follow your opened storybook code like this
<img width="388" alt="스크린샷 2021-08-30 오후 2 41 56" src="https://user-images.githubusercontent.com/70849655/131291

[2021-08-31 15:22] brianzinn commented on #151
I have added `GizmoManager` that looks to somewhat support your last example.  I haven't used GizmoManager before, but have a look at this example:
[code]

![gizmoManagerExample](https://user-images.githubusercontent.com/542756/131529552-ec947568-626d-4b3a-9636-22c827000fb4.gif)

I noticed at if I clicked a different mesh that the attached mesh seemed to change, so maybe that's why you have that o

[2021-09-01 04:06] slash9494 commented on #151
yeah, maybe I think if I have several meshes , i should add observable feature and `usePointerToAttachGizmos` is also not founded on NPM.  So it might be useful to use `usePointerToAttachGizmos` if i could

new version for this feature would be greatly appreciated

[2021-09-01 20:50] brianzinn commented on #151
3.0.23 was just published. Let me know if that works for you (or what changes are needed). :)

[2021-09-02 10:32] slash9494 commented on #151
good, it worked well
but I suggest it should be required light gizmo pointer? like this
<img width="85" alt="스크린샷 2021-09-02 오후 7 26 34" src="https://user-images.githubusercontent.com/70849655/131828285-3fe2ba37-42f7-4073-a884-d6a91d6a8677.png">

if i click other mesh or anywhere on the scene , light gizmo disappear
and i should know light direction through pointer

please resolve this iss

[2021-09-02 16:14] brianzinn commented on #151
Can you share your code that shows the light gizmo? I can make needed changes or hopefully work backwards from a working example.

[2021-09-02 22:41] saidmoya12 opened #152 ""react-babylonjs": "^3.0.23", TypeError: Cannot read property 'parent' of undefined"
Last update of react-babylonjs crash!

Version 3.0.23

![image](https://user-images.githubusercontent.com/1872974/131925199-27053f9f-e973-4df8-baec-847c64c36bb6.png)

[2021-09-02 22:56] #152 closed

[2021-09-03 03:05] slash9494 commented on #151
i apply spot light gizmo with gizmo manager like this
<img width="437" alt="스크린샷 2021-09-03 오전 11 53 30" src="https://user-images.githubusercontent.com/70849655/131943779-ca1563d0-5686-429d-b23e-09c851eb6d59.png">

and appear like this
![스크린샷 2021-09-03 오전 11 51 03](https://user-images.githubusercontent.com/70849655/131943870-301be6df-d607-49dc-a8d4-c9f944411ee4.png)

but if i cl

[2021-09-03 04:25] brianzinn commented on #151
hi @slash9494 - I am able to click on meshes and maintain the light gizmo with the  `usePointerToAttachGizmos={false}`.
![gizmoManagerNotUsingPointer](https://user-images.githubusercontent.com/542756/131950127-2908e577-9712-471a-b995-4953d001c6a5.gif)

Here is a code sandbox - are you able to reproduce your issue here?
https://codesandbox.io/s/cranky-dan-32qec?file=/src/App.tsx

PS: I am console l

[2021-09-03 05:06] brianzinn commented on #110
In your example `arcRotateCamera` from the host element `<arcRotateCamera .. />` is just a string passed into the renderer, so it's not imported like a component.  Think of it as a "div" or "span" for the DOM renderer.  From my understanding having this library's renderer able to know what to do with that and have tree-shaking is that it would only work as side effects and cannot be used directly.

[2021-09-07 06:09] slash9494 commented on #151
yeah, click issue is resolved by `usePointerToAttachGizmos={false}.`

but gizmo icon is still not appear
https://codesandbox.io/s/mystifying-kapitsa-5wqom?file=/src/App.tsx
it is reproduced code but it doesn't worked...

here is babylon playground showing example
https://playground.babylonjs.com/#1EIXWD#6

[2021-09-07 23:27] brianzinn commented on #151
ok, so maybe it's fixed in 3.0.24! :)
https://codesandbox.io/s/stoic-star-mj51p?file=/src/App.tsx

![lightGizmo](https://user-images.githubusercontent.com/542756/132422759-b9d0f356-01cf-4da9-818b-20872ee09f53.gif)

[2021-09-08 05:52] slash9494 commented on #151
that's great, it is good worked on above codesandbox

but i don't know why it doesn't worked on storybook of this repo even though it is updated as recently commit
and my private project is also same even though i update version to 3.0.24

<img width="348" alt="스크린샷 2021-09-08 오후 2 46 34" src="https://user-images.githubusercontent.com/70849655/132453718-75a6bbde-39f2-4db9-b507-073130240f86

[2021-09-08 17:14] brianzinn commented on #151
@slash9494  For this repo I can see you are running the old version (since I removed those console logs 😄).  You need to run `yarn build` in the root directory to re-generate the project dist.  Then in the storybook directory it will use the latest build :)  I don't know why it's not working for your local project though - are you able to share a repro or snippet?

[2021-09-09 06:32] slash9494 commented on #151
perfect, i might have mistake on my priavate project,  it is great worked on every repo

thanks brianzinn

umm, at last,  i want to ask one more question

now i want that lightmesh ( sphere in the gizmo manager ) is invisible, just showing lightGizmo
so i tried to apply `<sphere isVisible={false}/>` and sphere was done invisible but i can't move my lightGizmo

and now, i apply other method that ap

[2021-09-09 16:18] brianzinn commented on #151
If you use `<abstractMesh .../>` instead of `<sphere ../>` then the mesh isn't visible, but then there is nothing to click on.  It looks like you need a mesh for clicking.  One thing you could do is LERP the position of the sphere towards/away from the camera position on every frame - for a directional camera mesh it makes sense, but not a spotlight as much.  It may be a better question to ask in

[2021-09-19 13:04] SurajMK94 opened #153 "Get clicked point on the model - React Babylon JS"
Hi team,

How can i get the vector3 coordinate of the mouse clicked point on the 3D model in React Babylon JS code?

Thanks and Regards,
Suraj M K

[2021-09-19 13:06] SurajMK94 opened #154 "Input Text field for the UI - React Babylon JS"
Hi team,

Is there a way to click a UI element and type the text using keyboard and save it?

Thanks and Regards,
Suraj M K

[2021-09-20 01:04] brianzinn commented on #153
here is a code sandbox:
https://codesandbox.io/s/quizzical-cache-8ytn4?file=/src/App.tsx
![pointer-down-vector](https://user-images.githubusercontent.com/542756/133949055-874def44-a3dc-4d67-9ebb-fa9bdd970e09.gif)

[2021-09-20 01:31] brianzinn commented on #154
https://codesandbox.io/s/snowy-voice-l1k3h?file=/src/App.tsx
![input-text-capture](https://user-images.githubusercontent.com/542756/133949919-be6729db-edf2-473a-b682-cdb063aa51aa.gif)

If you are using a declarative GUI then it's the observable on the `inputText` control.
[code]

[2021-09-20 01:32] #151 closed

[2021-09-21 17:11] brianzinn commented on #153
Please re-open if above solution does not work for you.

[2021-09-21 17:11] brianzinn commented on #154
Please re-open if above solution does not work for you.

[2021-09-21 17:11] #154 closed

[2021-09-21 17:11] #153 closed

[2021-09-22 03:44] SurajMK94 commented on #153
Thank you for the solution Brian. It worked for me.

[2021-09-22 03:45] SurajMK94 commented on #154
Thanks alot Brian. This solution worked like a magic.

[2021-09-23 17:37] methot-ilya-3ds opened #155 "WebXRFeatureName.IMAGE_TRACKING "required feature not compatible" With BabylonReactNative"
Clone of the following github issue:

I'm trying to implement the feature
WebXRFeatureName.IMAGE_TRACKING using the example code from #9512

[code]

But throws the following error:

[code]

https://github.com/BabylonJS/Babylon.js/issues/9997

[2021-09-23 18:06] brianzinn commented on #155
Looks like you need to mark it as optional - look at the last parameter `required` of `enableFeature(...)`:
https://github.com/BabylonJS/Babylon.js/blob/master/src/XR/webXRFeaturesManager.ts#L339

[2021-09-23 20:01] methot-ilya-3ds commented on #155
@brianzinn The problem seems more related to the fact that WebXRFeatureName does not contain IMAGE_TRACKING.

I am not sure if the feature has been implemented in react-babylonjs or not.

[2021-09-23 21:21] brianzinn commented on #155
Are you on @latest of @babylonjs/core?

[2021-09-23 21:21] brianzinn commented on #155
Can you share more code?

[2021-09-23 21:25] methot-ilya-3ds commented on #155
My current version is:

` "@babylonjs/core": "^4.2.0",`

Here is some additional code in case it helps:

[code]

[2021-09-23 23:13] brianzinn commented on #155
I’m pretty sure that is a v5 thing. I’ll check once I get to a computer

[2021-09-25 17:27] flostellbrink opened #156 "Spring animations not updating (react-babylon-spring)"
I've been trying to get react-babylon-spring working.
Not sure if any of this is related to #115

From what I can tell the nodes that are passed through [`applyAnimatedValues`](https://github.com/hookex/react-babylon-spring/blob/master/src/index.ts#L14) don't actually have the [`propsHandler`](https://github.com/brianzinn/react-babylonjs/blob/master/src/UpdateInstance.ts#L98) that `applyInitialPro

[2021-09-25 18:00] flostellbrink commented on #156
Deployed the latest storybook to my fork, so its easier to compare:

- [Latest broken storybook](http://flo.stellbr.ink/react-babylonjs/?path=/story/integrations--react-spring)
- [Old working storybook](https://brianzinn.github.io/react-babylonjs/?path=/story/integrations--react-spring)

[2021-09-25 18:58] brianzinn commented on #156
Thanks Florian. It’s been broken for some time. I’ll have a look tomorrow to try to fix - I need a fix that is backwards compatible as this library has undergone a major update since the last NPM of rbs was published.

[2021-09-25 19:02] flostellbrink commented on #156
Thanks for taking time to look into this Brian.
Let me know if there is anything I can do to help!

[2021-09-29 16:27] brianzinn commented on #156
ok, I did find the issue and have a fix.  you were spot on with your diagnosis of the root cause.  if you change one method then the playground example will work:
[code]

That is a terrible solution not only because it will only work for Mesh objects, but it's going to create even more GC pressure on those animations.  So, I'm going to attach a property to the babylon object with a ref to the prop

[2021-09-29 17:47] flostellbrink commented on #156
This makes so much sense now. Thanks for explaining it!

It's basically [this line](https://github.com/brianzinn/react-babylonjs/blob/master/src/ReactBabylonJSHostConfig.ts#L216), right? Really like that behaviour 👍

Instead of having a ref to the propsHandler, could that be a ref to the instance itself on the babylon objects?

[2021-09-29 18:18] brianzinn commented on #156
I was planning something dynamic like `Object.defineProperty(...)`:
https://github.com/brianzinn/react-babylonjs/blob/master/src/ReactBabylonJSHostConfig.ts#L514

It will be easy to change later as it will be an internal unsupported property - if there is a proposal for a better idea which doesn't affect the public API or cause too much GC pressure on the animations I would welcome that.

[2021-09-29 18:35] flostellbrink commented on #156
Oh right that's pretty neat.

I mean react-dom does something similar where they put a `__reactFiber` on the actual dom objects.

So I guess having something like that is probably necessary if the public instances are babylon objects.

[2021-09-29 23:57] brianzinn commented on #156
I don't know if you wanted to have a look at that branch to confirm it works as expected for you first, but otherwise I can just merge your PR and then that branch 😃

[2021-09-30 02:44] brianzinn commented on #156
I went ahead and merged it and also your PR and all the storybook pages are live!  are you OK with a mention on the main readme?

[2021-09-30 13:19] flostellbrink commented on #156
Really neat to see it working again. Great job 🚀
Thank you so much!

Would definitely appreciate a mention!

[2021-09-30 13:19] #156 closed

[2021-10-06 03:51] brianzinn commented on #155
I've looked in the 4.2 NPM and there is no image tracking.  Sorry for late reply.  These are available in 4.2:
[code]
You will need v5 - it's still in alpha, but is very stable - would recommend upgrading.

[2021-10-06 03:51] #155 closed

[2021-10-08 04:46] 9oTbvP8v4L commented on #3
Hi @brianzinn, I encountered the same issue, do you mind guiding me on how to resolve it?
My code is pretty standard jsx
`
  <Engine ...      >
        <Scene ...>
          <arcRotateCamera ...>
`

From conversation above `onSceneFocus` seems to be removed and I don't really follow how to set `noPreventDefault` to false

Thanks!

[2021-10-08 06:40] brianzinn commented on #3
@9oTbvP8v4L what happens if you do `<arcRotateCamera noPreventDefault={false} .../>`?

What is happening is that is passed on when the framework calls attachControl on your behalf.
https://doc.babylonjs.com/typedoc/classes/babylon.camera#attachcontrol

I think you want `false` here:
https://github.com/BabylonJS/Babylon.js/blob/master/src/Cameras/Inputs/arcRotateCameraKeyboardMoveInput.ts#L121

Add

[2021-10-08 09:42] slash9494 opened #161 "unknown line on background of GUI Full Screen"
i found very pale line on background of GUI Full Screen

![스크린샷 2021-10-08 오후 6 33 32](https://user-images.githubusercontent.com/70849655/136533814-e7ff3fee-df7f-4ebb-8d19-3de676a93b77.png)
![스크린샷 2021-10-08 오후 6 38 18](https://user-images.githubusercontent.com/70849655/136534231-cfacaf99-02d4-46c0-85c0-68c9b59140b0.png)
=> there are three dots as vertical line

it appear when scro

[2021-10-09 06:26] brianzinn commented on #3
@9oTbvP8v4L you are right!  I will fix that! 🚀

[2021-10-10 05:07] brianzinn commented on #3
@9oTbvP8v4L should auto-complete on `3.0.25`, which was just deployed:
![image](https://user-images.githubusercontent.com/542756/136683051-87e89d98-ca3b-400e-9443-133e69d68666.png)

[2021-10-12 04:45] brianzinn commented on #161
@slash9494 - thanks for clarifying.  I was able to identify the issue with your PR reproduction.  I have posted a question in the babylon forum:
https://forum.babylonjs.com/t/gui-corner-radius-artifacts/24497

Looks like a bug in the framework.  I'll let you know how that goes!

[2021-10-18 10:50] slash9494 opened #163 "current situation about tree shaking"
i tried to build my project and i found react-babylonjs take all import of @babylonjs/core on react-babylonjs.js
even if i take import @babylon/core separately like @babylonjs/core/Meshes/abstractMesh on my component
surely, it is affected to reduce babylonjs size

i has searched issue about tree-shaking it, and i understand it is not resolved yet,

So, i want to know anything method to import @ba

[2021-10-19 04:08] brianzinn commented on #163
It does import all modules - that's how it dynamically instantiates objects, so when you do `<arcRotateCamera />` that it can be newed up - same as all other objects supported by the API.  The idea is to dynamically register via side-effects in v4 to allow for tree-shaking.  Keep in mind that as this project uses the react-reconciler that it needs to be able to create all instances and doesn't kno

[2021-10-20 08:37] slash9494 commented on #163
great
it actually does not critical issue on my project yet, just i want to optimize my project more
So, i decide to expect next v4
at last, i just wonder what process of breaking change, i don't know how to apply it

[2021-10-20 10:11] dennemark opened #164 "Portals"
Hi,

I was wondering if it is possible to use the reconciler function to create a portal.
Looking at how react-three-fiber is doing it, it seems to be a simple [function](https://github.com/pmndrs/react-three-fiber/blob/13f37ffe12d1350e671f3f078a81f2c6a03cf666/packages/fiber/src/web/index.tsx#L178)
However, currently the reconciler is not exposed. The createReconciler function lives within Scene a

[2021-10-20 22:27] brianzinn commented on #163
when I deploy v4 there will be a required registration.  So, it may mean to register all of supported API (what is currently happening).  With v4 there will be a tree-shacking opt-in mechanism where you choose which classes are supported declaratively and the rest should be tree-shaken.

The dynamic registration is already in place - right now you can, for example, register with the reconciler gri

[2021-10-21 04:18] #163 closed, assigned to nobody

[2021-10-21 04:39] brianzinn commented on #164
it's better here in issues, because i keep losing track of the discussions and i try to keep issue count down! :)

I will definitely add that.  I see what you mean as the `createReconciler` call is buried in Scene, so then it needs to be moved out.  I'll need to look at how react-three-fiber exposes their reconciler and allows it to bind to multiple scenes in that kind of global way.  Another opti

[2021-10-21 15:55] brianzinn commented on #164
Yess!! That would be really nice to add as well.  If you want to start a new issue/branch - would be happy to look even at a draft version 😄

[2021-10-27 15:53] #164 closed, assigned to nobody

[2021-10-29 11:46] stanleySHU opened #170 "camera target not work"
camera target not work.  version: 4.2.0
<freeCamera name="camera" position={new Vector3(0, 1000, 0)} target={new Vector3(0, 0, 0)}/>

[2021-10-29 22:14] brianzinn commented on #170
hi @stanleySHU - I think the target does work, but the thing about the reconciler is that the position and target and setting them produces unexpected behaviour.  Look here as an example:
https://www.babylonjs-playground.com/#6P3E3K

![image](https://user-images.githubusercontent.com/542756/139506950-c91c665b-245b-4030-bb71-2fa6e56b7a2e.png)
What happens is that when the position changes that the

[2021-10-29 22:14] #170 closed

[2021-10-30 02:57] brianzinn commented on #170
sorry, but I didn't mean to close actually.  Please re-open if it's not solved for you.

[2021-11-03 17:39] brianzinn commented on #87
a similar library to `use-asset` is out https://github.com/pmndrs/suspend-react.  it's closer to the syntax that I was imagining. I am going to propose some changes to upstream library for how models are loaded, so global caching would work - compared to how models are loaded directly to a scene.  will post back.

[2021-11-03 21:17] drcmda commented on #87
@brianzinn soon cache will also live in react, it won't be global: https://github.com/pmndrs/suspend-react#react-18

each render-root will create a cache root by default, but users can also make their own. the following for instance will result in two fetches:

[code]

this is great for multiple canvases, routes and many other things. if you see potential in suspend-react, would be great to share

[2021-11-04 07:53] dennemark commented on #87
suspend-react seems really promising! i have been using use-asset for assets like custom node materials, was nice to work with. But the synchronous-like approach of suspend-react looks great!

I am curious of how you would implement it @brianzinn . Are there two options? 1. just load the glb file and return it. 2. load glb file and load it into babylon scene. Thinking about it, I guess the second

[2021-11-04 17:31] brianzinn commented on #87
I am properly investigating now.  Another use case that I am trying to solve for is this (Cache part is optional):
[code]
I realize that I can put in a key or something to force double fetching, but to do a single fetch and have 2 models.  It can be solved with instancing and I have a storybook for that, but it would be nicer if it was a bit transparent.  The thing about babylon.js is that it load

[2021-11-08 04:17] octocat-1 opened #171 "Storybook: show addons by default"
For the Storybook could you enable "Show addons" by default?

https://brianzinn.github.io/react-babylonjs/?path=/story

<img width="360" alt="Screen Shot 2021-11-07 at 8 11 32 PM" src="https://user-images.githubusercontent.com/1149793/140683254-18824dc7-5ea5-4888-8a03-877d83c97c7f.png">

I'm having trouble getting started with the React-Babylonjs library because I'm not seeing enough example code.

[2021-11-08 07:05] brianzinn commented on #171
@octocat-1 You may need to `localStorage.clear()`, but I have started a fix (still need to select story tab by default too I think).   I think I need so split the stories up differently as the source looks a bit wonky.  I'm not using storybook in the typical way of a component library, so not all parts necessarily make sense (controls/actions).

[2021-11-08 08:30] octocat-1 commented on #171
Just seeing example code is a huge plus. Even if it's not perfect. Also propose adding example code to the docs.

[2021-11-09 10:12] kyehuelin opened #173 "grid - usable in react"
moved from q&a

I would like to use the  grid component but it apprears to not be functional as declarative in react at this stage.
______
brian wrote:
The GUI components call ie: addControl(...) automatically behind the scenes. This is an example markup - appreciate any feedback:

[code]
I've never used the grid control before, so if you can prove the imperative code example then maybe we can wor

[2021-11-09 16:53] brianzinn commented on #173
@kyehuelin would you mind sharing an imperative playground that is similar to the images you shared in the discussion?  I really like the sliders and switch buttons you have there.

The `addControl` method is overridden and adds 2 new parameters `row` and `column`.  Currently controls are transparently added by `react-babylonjs`, so we need a way to declare grid position to place in correct spot.

[2021-11-09 18:01] kyehuelin commented on #173
Hi brian,  thanks for the feedback

Im just working on an implementation of the design using babyon components right now, once its done i can share a playground example.

at the moment i have a material ui implementation of the ui which works from the same store (zustand as per your recomendation) Ill loop back to you once i have the babylon implementation and share a playground. sorry i cant give

[2021-11-09 18:25] kyehuelin commented on #173
ps in answer to your question about how i do pagination i just map over an array of arrays and build a bunch of stackPanels liek this

[code]

[2021-11-09 18:26] kyehuelin commented on #173
I like all your proposals tbh the first way seems good yes.

[2021-11-09 22:28] saidmoya12 commented on #152
glb/gltf file must have some mesh!

[2021-11-10 00:00] brianzinn commented on #173
oh, I see now it looks like you are converting from Material UI to babylon grid.  The question about pagination was how you replace the content - looks like need to call `removeControl`, but I suspect you haven't written that part yet and you are porting from Material UI to Babylonjs.  I think the way you use `key` prop that it will be handled transparently.

[2021-11-11 23:04] frank-unovica opened #174 "Some questions"
How to use useCamera? Or otherwise customize the camera? Or should I stick with onCreated?
How to use SolidParticleSystem?
How to develop more components?
Any plans for adding react to the babylonjs playground?

[2021-11-12 04:22] brianzinn commented on #174
# useCamera
Use camera would be something like:
[code]

in TypeScript:
[code]

I would stick with `<arcRotateCamera .../>` because it allows you to pass in props and have them update automatically on the babylon camera - ie: if you set the radius as a prop then it would flow to the camera automatically.

# SPS
This has not been implemented declaratively, but I would welcome any contributions.  SPS

[2021-11-12 08:17] frank-unovica commented on #174
Thanks; my impression is that this project is quite complicated for beginners, reducing community traction.

It could benefit from more documentation, such as how to start storybook, how to contribute and how the code generation works (in the code itself or not).

React snippets in the playground would be major.

[2021-11-12 23:41] brianzinn commented on #174
Looks like JSX in playground PR may not be accepted... 😞

[2021-11-18 15:06] obolland opened #175 "lookAt() Not working when used in onModelLoaded callback"
As title suggest, lookAt function doesn't work as expected when used inside the onModelLoaded callback. Does it need to be used in a different way?
Would be nice to get this working

[2021-11-18 16:36] brianzinn commented on #175
I suspect it is not due to loader and callback, but the forward direction. Have a look here:

https://github.com/brianzinn/react-babylonjs/blob/master/storybook/stories/babylonjs/GUI/with2DGUI.stories.js#L135

notice the extra parameters and the yaw/pitch/roll corrections in radians:

https://doc.babylonjs.com/typedoc/classes/babylon.abstractmesh#lookat

[2021-11-18 17:30] obolland commented on #175
I've experimented with the yaw/pitch/roll to no avail. What works for one co-ordinate does not work for another. Also weirdly, if I set the model's position via the position props e.g...
[code]
         and then use the lookAt() function inside the onModelLoaded callback, the model orientates itself differently than if I set the model's position inside of the onModelLoaded callback instead of usin

[2021-11-18 17:51] brianzinn commented on #175
I would need to see your callback, but the `Model` uses the `rootModel` to assign all properties.   Model loaders other than Unlike glTF other models do not necessary have a "__root__" mesh, so a root mesh is created and position/transform are applied on that mesh.  I don't know if that could be the underlying cause.  There is not a lot going on in the `Model` itself except calling a hook that cal

[2021-11-18 18:15] obolland commented on #175
Yes, thank you @brianzinn 👍😊
Loving react-babylonjs by the way

[2021-11-18 18:18] brianzinn commented on #175
Maybe for 'gltf' I can just use the '__root__'.  I think it's just an empty mesh with -1 z scaling for babylon right-handed.

[2021-11-24 19:24] tristanbuckner opened #176 "How do I pass a camera into a postProcess?"
I'm attempting to refactor a working babylonjs playground into react so I can use it with an existing project, but I'm running into some problems with getting everything to line up with the declarative style.

So I have a fragment shader added to Effect.ShadersStore and I'm trying to apply it as a post processing step but this requires a camera to be passed in. How can I get "camera1" wired in cor

[2021-11-24 19:33] brianzinn commented on #176
hi @tristanbuckner - What's the imperative code to pass it through?  It's not uncommon that this library needs to be extended to support different use cases, so it's easier to work backwards from the imperative sometimes to arrive at the solution also because not all properties are supported by the renderer.

[2021-11-24 20:11] tristanbuckner commented on #176
Gotcha. So this is the product of me hacking together two babylonjs demos, one that applies a crt filter to a scene and one that plays streaming video as a texture on a plane.
[code]

[2021-11-24 21:23] brianzinn commented on #176
I think this should work - I haven't tested it I am just writing it here in the issue.  You need to work with the camera reference and pass it into the `<postProcess ../>`, but useRef doesn't trigger a re-render and there are different ways around that.  One way is with `useState`, but there are other ways with layout.
[code]

The camera should be passed in as it is a constructor parameter (I chec

[2021-11-26 11:33] obolland commented on #175
So what you said made sense until I looked closer and now I'm at a loss again...
The model in question is a gltf model. If I apply a position via the props or apply a position via the callback, the exact same position is applied to the rootMesh, as expected. However, the lookAt() function applies a different rotation value to the rootMesh depending on whether the position was set via props or the

[2021-11-26 14:58] DefaultV opened #177 "Shader issues, setting the sampler texture and visual bugs"
Hello! I'm currently trying to setup a shader (shaderMaterial) for my application.

The shader basically takes an image and makes it blurry and transparent. I've stored these shaders locally as `*.vertex/fragment.fx` files.

I can load it via the following example:
[code]
Then in a useEffect I set the sampler texture. (Bonus question, how do I set this sampler texture declaratively?)
The component

[2021-11-26 15:28] brianzinn commented on #175
I’ll make a sandbox. Are you able to share your mesh?

[2021-11-26 15:32] brianzinn commented on #177
Can you include your useEffect code that sets the texture?

[2021-11-26 15:37] obolland commented on #175
Many thanks.
Yes sure, I have a few different models and same issue with all. Here's one I'm using...
[shooterModel.zip](https://github.com/brianzinn/react-babylonjs/files/7609629/shooterModel.zip)

[2021-11-27 19:12] brianzinn commented on #175
hi @obolland I found the issue - turns out that I didn't need your model to find the problem.  I believe you are calling `.lookAt(...)` and then the reconciler is setting the position.
[code]
![lookAt](https://user-images.githubusercontent.com/542756/143719114-59af17b9-861a-4eb3-9d10-66fa6feffc27.gif)

Note that I am calling `.position = ...` before `.lookAt(...)` otherwise what is happening is th

[2021-11-27 19:19] brianzinn commented on #173
I've got a start on it.  There have been lots of road closures where I live and I couldn't get home for 10 days - that's why I haven't been doing much lately.  Anyway I created a branch to get started:
https://github.com/brianzinn/react-babylonjs/tree/add-grid

I ended up having trouble updating the column and row definitions as props.  I started a discussion here:
https://forum.babylonjs.com/t/va

[2021-11-29 08:35] DefaultV commented on #177
Here's the useEffect, however, even if I comment out this code, the textureSampler still gets set somehow (sampler2D textureSampler in the shader code)
[code]

[2021-11-29 13:09] obolland commented on #175
Thanks @brianzinn for looking at this. You're absolutely right. And yes, I can confirm that forcing the reconciler to apply the position changes to the model _after_ props have been applied fixes the issue.
I had wrongly assumed that the props would be applied before the callback ran, so I would personally say that applying all props before calling onModelLoaded should be the expected behaviour. W

[2021-11-29 13:23] dennemark opened #179 "Gizmo looses relation to activeCamera - Lifecycle"
Hi,

I tried to play with the Gizmo components. Very nice addition! I am currently facing an issue though, where a gizmo component seems to loose information on the scene and active camera. I am wondering if it is related to the Gizmo Lifecycle.

Since the issue is related to the Tunnel storybook, I would not mind if we do not manage to resolve the issue. But it maybe @brianzinn you know the reaso

[2021-11-29 18:19] brianzinn commented on #177
Is the "textureSampler" just an example - It's supposed to match the name of a uniform sampler as defined in the shader isn't it? Otherwise if you can share a playground example that does work and then I can work my way backwards.

Setting declaratively I do not see a good way, because there is no property to set it to without first getting a Ref.
[code]
What I do is destructure that array and pas

[2021-11-29 18:33] brianzinn commented on #175
Agree with you that would be expected behaviour - I'll apply props before callback and drop a release tonight.  Cheers.

[2021-11-29 18:45] brianzinn commented on #179
I think it may just be because you need to declare inside of the `Scene` component.  If you track the constructor it ends up here:
https://github.com/BabylonJS/Babylon.js/blob/master/src/Rendering/utilityLayerRenderer.ts#L78

I'll try to give it a go tonight - otherwise if you moved those below `<Engine..>...</Engine>` may help there as there would be a  LastCreatedScene?

[2021-11-30 06:13] brianzinn commented on #173
ok.  i pushed the branch even though it's still WIP.  Right now you can do this:
[code]

I am going to make a PR for babylon/core, so row/column definitions will support reconciler prop updates.

Then what I need to do is add optional parameters `gridColumn` and `gridRow` for all 2D controls to specify the row and column for when `addControl(...)` is called - that part is easy.

[2021-11-30 06:53] brianzinn commented on #175
Should be fixed - the props are also applied after the callback, so that might be interesting.  I nearly went with an opt-out mechanism, but will see how it goes.  Can you confirm it's working as expected @obolland ? cheers.

[2021-11-30 08:43] dennemark commented on #179
For me the tunneling is still a bit confusing and that is a bit unfortunate. So far I was thinking, that zustand will place the components within TunnelExit that is living within the Engine/Scene. So it seems there is a bit more going on, before the components reach the TunnelExit? Otherwise I guess they should be able to consume contexts properly.

I would like to avoid this Tunneling, but if it

[2021-11-30 10:10] obolland commented on #175
Thanks @brianzinn 👍
So far so good! Working totally as expected. Great stuff 😊

[2021-11-30 10:11] DefaultV commented on #177
I've tried to replicate the bug here, however, it seems there's an issue with loading the shader from the path. The branch is here:
https://github.com/DefaultV/create-react-app-typescript-babylonjs/tree/Bug-shaderPath

I get the following error.

![image](https://user-images.githubusercontent.com/14123880/144027770-08c88b27-5ae9-4758-8554-b5424c00ecb0.png)

It seems to be trying to load the html f

[2021-11-30 18:16] brianzinn commented on #177
You got it - you just need to delete the `homepage` in your package.json - or otherwise include that as part of the base_url if you want to deploy like I do to a sub folder (like github pages requires).  In which case, you just need to add to your paths `process.env.PUBLIC_URL` as follows:
https://github.com/brianzinn/create-react-app-babylonjs/blob/master/src/withSkybox.js#L11

If you wanted some

[2021-11-30 18:17] #175 closed

[2021-11-30 18:31] brianzinn commented on #179
The best way is probably like you are doing, since the context boundary is lost when changing renderers.  I actually wouldn't mind bringing in Zustand (or just dropping Providers) - it makes sense to bring in a library like that which brings in more benefits.  Lots of people get caught up on how the state doesn't cross the boundary - looking at the new React.Cache doesn't look like it will land in

[2021-12-01 08:29] DefaultV commented on #177
Thanks for the tip, alright, I think we're at the reproducible stage now, however it doesn't seem to switch between multiple textures but, it does seem to only apply the only most recent texture to the sampler even though specified otherwise.

![image](https://user-images.githubusercontent.com/14123880/144198074-d93bf501-0689-433a-a417-7ccb0c8033a9.png)

The checkerboard was loaded last, the dog i

[2021-12-02 06:25] brianzinn commented on #173
ok the PR is approved to `@babylonjs/gui`, so should have something by EOW.  The row definitions will be assignable from props to dynamically change width/height via renderer.

[2021-12-02 17:08] bscott711 opened #181 "Issue getting scene.render to work properly."
I'm using the following snippet in this [project](github.com/bscott711/next-babylon-netlify) to control the renderLoop so it only renders on demand. It works well in the playground and in non-react version i had been working on. But it doesn't seem to be working properly in this scenario as the GPU is pegged at 30% rather than 0 when the scene is not being moved. Any help on how I am using it inco

[2021-12-02 17:46] bscott711 commented on #181
I appear to be breaking some hook rules if I do that (no surprise there :joy: ) since the function I am using is both a nested function and simple js.

[2021-12-02 17:52] brianzinn commented on #181
Also the way you are using the project you are better off with https://github.com/brianzinn/babylonjs-hook
It doesn't have the renderer, but you are doing everything imperatively.

[2021-12-03 10:12] slash9494 opened #182 "disappear scene method , shadow generator component at v3.0.30"
at 3.0.30

#1
disappear scene methods (createDefaultXRExperienceAsync, create...) from types
and throw console error

#2
shadow generator error
issue: Uncaught ShadowGeneratorSceneComponent needs to be imported before as it contains a side-effect required by your code.

`public static _SceneComponentInitialization: (scene: Scene) => void = (_) => {
        throw _DevTools.WarnImport("ShadowGenerat

[2021-12-03 16:03] brianzinn commented on #182
1. Can you share the code that is throwing exceptions? For example, the XR stuff doesn't have any declarative counterpart yet.  Have a look here for an XR demo: https://github.com/brianzinn/xr-dom-overlay-react
2. There is no "ShadowGeneratorSceneComponent" in this library - there is a `<shadowGenerator ../>` host element.

[2021-12-05 06:05] brianzinn commented on #173
ok, so this:
[code]
looks like this:
![image](https://user-images.githubusercontent.com/542756/144735321-8089214a-bff4-471e-96bb-13f2cd4b51a3.png)

I know before we had `width` and `height` instead of `value` and `isPixel` instead of `unit`, but above API on @babylonjs/gui@5 alpha 63+ will allow props to update the value and units accordingly.

Check it on 3.0.31.  It should work as long as you ar

[2021-12-06 03:35] slash9494 commented on #182
1. you can check this sandbox url - https://codesandbox.io/s/quirky-fog-p7icv?file=/src/App.tsx
at 3.0.30 , you can see type error but at 3.0.29, there is no error

2. i thought it should be related with compiling process on my project
on my nextJs project, it run well through transpiling module,
but on the other my react project , it throw error only at version 3.0.30

so i will take over the rea

[2021-12-06 05:23] brianzinn commented on #182
I was quite puzzled as well - looks like `createDefaultXRExperienceAsync` function is not available until you have a camera.  That may be an issue in this library

[code]

I can confirm it works without Camera and Lights on 3.0.29.  Thank-you for reporting @slash9494 .  I will look for what changed 🤯

[2021-12-06 05:46] brianzinn commented on #182
This does work with the side-effect import:
[code]

Seems like the side-effects need to be imported now, which is probably a good thing for tree-shaking, but definitely less intuitive.

[2021-12-06 05:55] brianzinn commented on #182
I found the root cause.  I changed an import from:
[code]
to
[code]

That was the last place in the code where I had missed the direct file import and that caused all of those side-effect imports to be lost.  One the one hand it is a breaking change, so I can re-add the default Scene import.  Here is the FAQ on what needs to be imported:
http://www.babylonjs.com.cn/features/es6_support.html#faq

I

[2021-12-06 06:01] brianzinn commented on #181
I would add ability to pass in own render loop to this library as it would be useful for any viewers or other libraries that want to save resources when nothing is happening in the scene - like a viewer.  Things like animations, etc. would not be visible and that is OK for many scenarios.  Let me know if you are interested and we can work on a solution.

[2021-12-06 06:03] brianzinn commented on #171
I got just the stories showing on storybook and by default.  Agree also about the API - did you mean seeing examples for each host element - maybe with required props?

[2021-12-06 17:20] brianzinn commented on #181
I think loading of model (and meshes) can be handled with:
https://doc.babylonjs.com/typedoc/classes/babylon.scene#onnewmeshaddedobservable

I suspect for lights moving would need to listen first:
https://doc.babylonjs.com/typedoc/classes/babylon.scene#onnewlightaddedobservable

I didn't see from API easy way to get lights themselves can be listened in on - even without changing position, directio

[2021-12-07 02:17] slash9494 commented on #182
Great i absolutely agree with breaking change with tree shaking by importing absolute path

 i didn't know method 'createDefaultXRExperienceAsync' is related with camera

I thought issue#2(shadow component error) could be involved with this es6 support

So i hope issue#2 is resolved on 4.0

[2021-12-07 05:53] brianzinn commented on #182
Did you add `import "@babylonjs/core/Helpers/sceneHelpers";` and that fixed your first issue?  That should augment the scene object with that method.

For the issue#2 can you share any details on that one, because I am not able to see what is causing that?

[2021-12-07 14:54] weypro opened #183 "Cannot run the SpinningBox Example"
Hi. I created a new react project
[code]
 and added babylonjs with the command:
[code]
After initializing the project, I tried to run the SpinningBox Example and make some changes:
1. Before:`export  const  SceneWithSpinningBoxes  =  ( )  =>  ( `
After:`const SceneWithSpinningBoxes = () => (`
2. Before (the template):
[code]
After:
[code]
The code was compiled successfully, but nothing displayed o

[2021-12-07 17:18] brianzinn commented on #183
hi @weypro - Have a look here.  You don't need to export SceneWithSpinningBoxes unless it's in a different file.
https://codesandbox.io/s/epic-darwin-tohk0?file=/src/App.tsx

[2021-12-07 17:59] dennemark commented on #181
Those observables are useful! But I think I once tried to use the newMeshAddedObservable and sometimes it seems to trigger too late, maybe because within the mesh textures etc. need to be loaded first.

Concerning the overwrite, I guess it limits a few options. I.e. one cannot observe changing of active camera outside the `Engine` component. This would probably need to be handled within the render

[2021-12-08 03:09] slash9494 commented on #182
yeah, i tried to add `import @babylonjs/core/Helpers/sceneHelpers` and it's great well

and issue#2, it is obvious to be caused on `<shadowGenerator/>`

when i import light and shadow generator like below picture, it throw error that i mentioned before

<img width="413" alt="스크린샷 2021-12-08 오전 11 52 58" src="https://user-images.githubusercontent.com/70849655/145140820-144e22f6-a197-4f0b-a

[2021-12-08 03:24] weypro commented on #183
Yes, I think exporting `SceneWithSpinningBoxes` doesn't affect the result. Actually, I find the truth that  the canvas size must be defined like this:
[code]
Otherwise the size may be 'infinite' and make the WebGL engine crash.
By the way, the canvas id is `babylonJS` in the JSX example in `README.md` while it's `babylon-canvas` in the TSX example. I think it's better to use the same id.

[2021-12-10 10:04] DefaultV commented on #177
I got this to work in my other project. It was seemingly due to folder hierarchies.
What I did in the end was to make sure all naming conventions were correct and renamed the sampler, instead of textureSampler I put MAIN_TEXTURE. I know this doesn't seem like it should fix it, but it did somehow.

You can close the issue if you want =) Thanks for the aid!

[2021-12-10 17:07] #177 closed

[2021-12-26 07:58] octocat-1 commented on #171
I'm not sure what "host element" means, but I think I'm asking for more. I'm a developer and code is my language. And so when I'm not able to copy-paste from documentation and tweak parameters in a running program, then I'm not really learning at all. The babylonjs documentation does a decent job of explaining 3D modeling concepts, but it doesn't help me code. Even with the example code they provi

[2022-01-05 01:41] br-matt opened #184 "How to get a ref for <Model> component inside <Suspense>"
It seems React 17 does not allow that, throwing the error:

[code]

Is there some known work around for this ? I need the ref for using the useClick hooks and others on <Model />

[2022-01-05 15:47] brianzinn commented on #184
what about something like this - the models are a hierarchy, so will let you choose the ref.
[code]

You may have more success with declarative syntax by not using the `Model` component and attaching directly to meshes with refs.  Here is the component:
https://github.com/brianzinn/react-babylonjs/blob/master/src/customComponents/Model.tsx

[2022-01-05 18:56] br-matt commented on #184
The first approach suggested seemed to just never register with the hook. The second approach still requires <Suspense> it turns out and back to the initial issue. I was able to use forwardRef to get it working though:

[code]
[code]

One side question, how come the metaData prop does not make it to the mesh ? The only metadata it ends up with is the key 'gltf'

[2022-01-05 19:42] brianzinn commented on #184
I need to have the renderer update the mesh - currently that prop is ignored:
https://github.com/brianzinn/react-babylonjs/blob/master/src/generatedCode.ts#L207

Hadn't noticed metadata being set to 'gltf' - If it's needed anywhere post-loading then would want to destructure what I am sending through.  ie:
[code]

I don't have that built-in as a way to update yet.  I thought internal usage of meta

[2022-01-06 18:07] br-matt commented on #184
Yep, that works for now for metadata, thanks !

[2022-01-06 18:07] #184 closed

[2022-01-07 17:53] brianzinn commented on #184
Thanks - I wish there was a cleaner solution.  I think adding support for babylon target to https://github.com/pmndrs/gltfjsx would be really, really great.
https://github.com/brianzinn/react-babylonjs/issues/87#issuecomment-781600205

[2022-01-09 09:49] benallfree opened #185 "Particle and fire story?"
Hey guys, great project! Mind blown.

I just stumbled across this demo https://codepen.io/hiteshsahu/pen/VwjdXbP and wondered if you thought it would make a good storybook entry.

If so, I'd be happy to submit a PR. It would be a learning experience for me and I'm sure would inspire some great discussion.

Let me know what you think!

[2022-01-09 17:58] brianzinn commented on #185
hi @benallfree - That's a great idea and would be a more than welcome addition to the storybook.  I just saw the codepen authors impressive website experimental section.

It looks like that codepen can be done mostly declaratively... everything except for the `ParticleHelper`.  I really ought to make some async creation methods a more first class citizen of the framework.  There is one async playg

[2022-01-09 20:06] benallfree commented on #185
Great, I'd be happy to take a shot at it.

I'm sure I can figure this out with time, but your lib is doing something I've never seen before: I see JSX tags that have no import, such as `<box>` here: https://codesandbox.io/s/epic-darwin-tohk0?file=/src/App.tsx:1318-1327

How is that happening?

[2022-01-09 20:10] brianzinn commented on #185
‘<box …/>’ is handled by the renderer.  It’s calling Meshbuilder.CreateBox on your behalf. Those are hostElements once inside the ‘Scene’ component — much like a div for the DOM renderer

[2022-01-09 20:17] benallfree commented on #185
I haven't played with React renderers at all, I'll have to look into it further. So is there an intuitive way to know that `<box>` even exists? For example, I'm struggling to understand how someone would infer:

[code]

becomes

[code]

[2022-01-09 21:17] brianzinn commented on #185
I think the api docs could use a lot of improvement and you are right that it is not obvious.  Besides the less intuitive meshbuilder and AdvancedDynamicTexture creation methods the rest are only generated from Babylon typings using constructors.

https://github.com/brianzinn/react-babylonjs/blob/master/docs/api.md

[2022-01-11 19:05] benallfree commented on #185
Ok thanks. I spent some time looking at Three.js and the surrounding community. There is definitely some popular stuff out there. I just have a feeling Babylon+React is a pretty good platform for games. I'd like to learn more about Babylon and then if I decide to move forward I would be interested in working with you to beef up the docs and demos.

[2022-01-11 19:11] benallfree commented on #185
It would be cool if each storybook story could have a GUI overlay to adjust variables dynamically. Three.js is good at that. Also a codesandbox version of each story would be cool. Just some thoughts as I'm sorting through everything :)

[2022-01-11 19:35] brianzinn commented on #185
I totally agree with you on that.  The storybook 'controls' support that, but I think not as good as other control options.   Some of the newer three examples use a controls library from pmndrs - the one (I think) that inspired that project can be modified and I had it working with Babylon.js (there is a pending PR):
https://github.com/birkir/react-three-gui

I agree also with the codesandbox - it

[2022-01-11 20:07] benallfree commented on #185
It looks like Codesandbox has a github import feature via GitHubBox.com https://codesandbox.io/docs/importing. It appears to support monorepos such as those containing example packages like this https://github.com/reduxjs/redux/tree/master/examples/todomvc. I haven't checked, but I assume based on the URL that it always pulls the current code from the `master` tree.

If we had the storybook plus a

[2022-01-11 20:15] brianzinn commented on #185
totally agree about the XR.  i added the WebXRController and DOMOverlay features to Babylon.js - I haven't brought it into this library as a declarative integration, but really want to at some point.  It gets interesting with all the async calls, but I think a clean solution exists with Suspense.  I really like how this library builds GUI declaratively and you can drop it on a plane for XR interac

[2022-01-11 20:20] benallfree commented on #185
I'm attempting exactly that right now, I'll send along a PR example when I get it working in my fork.

[2022-01-13 15:55] brianzinn commented on #174
hi @frank-unovica - the documentation is in the works and is being redone with Gatsby.  I intend to work through first how the library works and then I will add more on how to contribute.  Thanks for the great ideas.  The new website will be opening up all examples as code sandboxes within the documentation site (and they can be opened in new window and edited).

[2022-01-13 15:55] #174 closed

[2022-01-13 16:00] #183 closed

[2022-01-17 01:02] brianzinn commented on #171
thanks @octocat-1 - the docs are in flight of being totally redone and will have more tutorial content and also will be easy for contributors to add to the documentation.  each example opens in code sandbox and there will be walkthroughs for all of the main concepts.

[2022-01-17 01:02] #171 closed

[2022-01-17 01:02] brianzinn commented on #136
closing for housekeeping purposes - please re-open if not solved.

[2022-01-17 01:02] #136 closed

[2022-01-17 01:04] brianzinn commented on #173
closing for housekeeping purposes.  please re-open if not solved for you.  this repo will be regenerated to go with babylon v5 now that it's out on beta.

[2022-01-17 01:04] #173 closed

[2022-01-17 01:06] brianzinn commented on #176
closing for housekeeping purposes.  please re-open if this is not solved for you.

[2022-01-17 01:06] #176 closed

[2022-01-17 01:08] brianzinn commented on #179
Closing for housekeeping purposes - I am definitely open to switching over to Zustand everything, but it looks like you have a workaround.  I will accept a PR with breaking change over to state management instead of Context Provider.

[2022-01-17 01:08] #179 closed

[2022-01-17 02:33] benallfree commented on #110
@brianzinn Can you please say more about the differences between a react renderer and a functional component-based approach? Maybe some links to resources or critical sections of code? I’m trying to understand better how it is implemented.

But if you are saying the whole of Babylon.js needs to be imported because the renderer doesn’t know which tags might be used, that’s a significant considerati

[2022-01-17 04:56] brianzinn commented on #110
The starting point of that answer likely begins by looking at the react reconciler.  A typical create react app wires up the DOM renderer like this:
[code]
That is using a DOM renderer - this project is a renderer for babylon.js, so instead of call `createElement('div')` for a `<div />` it will instead be calling something like `new ArcRotateCamera(...)` or as in your example `MeshBuilder.CreateBo

[2022-01-18 00:00] MelMacaluso opened #196 "Props on <Scene /> not working on load"
Hi there

Thanks for the wrapper!

I've been struggling in making the <Scene /> props work on load.

Any prop I try on the <Scene /> component doesn't work on load, but if I edit them and hit save, they will suddenly start working as expected.

I've been so far using this simple code:

[code]

[2022-01-18 06:52] brianzinn commented on #196
Callback should be like this:
[code]
The scene options doesn't have that callback - it may also be split as independent props - there is a big update coming to docs soon to make this more apparent (here is the babylon API doc on sceneOptions for your reference):
https://doc.babylonjs.com/typedoc/interfaces/babylon.sceneoptions

Sorry for the poor documentation - hope to have a much improved one up

[2022-01-18 09:37] MelMacaluso commented on #196
Hi @brianzinn , thanks for the swift answer!

It is mainly about the "reactiveness" of the props, in this case, all I wanted to do is instantiate the <Scene /> with a transparent bg color being `Color4(0,0,0,0)` (it works just if I edit the file and press save, so it starts with an opaque color then it goes transparent after saving....).

The way I "fixed" it, which is not fixed as it blinks for 1

[2022-01-18 14:43] DefaultV opened #199 "vrExperienceHelper / webXRExperienceHelper - Hide controller models"
Hello! when setting up the vr experience helper, in combination with `useXR` I want to remove the controller models, not disable the controller feature.
I've tried to do it via manual code as well but I've been unsuccessful.

[code]

However, the controller models are still visible in the space.

**Bonus question** (I will post it on Babylon forums as well):
Can you replace the teleportation targe

[2022-01-18 15:30] brianzinn commented on #196
Does this not work?
[code]

or
[code]

When you `useEffect` like that you are at the mercy of the React scheduler in terms of timing.  Keep asking questions!

[2022-01-18 15:51] brianzinn commented on #199
I saw the forum post.  I will look into this later on today - could be a prop not flowing through correctly.

[2022-01-18 16:54] MelMacaluso commented on #196
No no, this one does not work:

[code]
Basically anything I assign to <Scene /> as prop is not being applied on first render, I need to manually save the file. That's why I had the intuiton to set props with a useEffect() which worked but is a little hack.

Ideally I'd like to set it as you mention above.

Does it work for you?

[2022-01-18 17:01] MelMacaluso commented on #196
Just tried `onSceneMount` prop, this one works (as in triggers the function I assign it to), but it does not set the clear color (bg is still opaque:

[code]

[2022-01-18 17:12] MelMacaluso commented on #196
Ok, if I actually cared to check what parameters onSceneMount provided me I would have known that is an object with inside the scene...

[code]

For now this settles it, thanks so much for your help.

Might need to check thought why props like `clearColor` are not working on first render?

[2022-01-18 17:59] brianzinn commented on #196
Yes, let me check that.  I can actually write a unit test for that.  I will get back to you as it should work.  Cheers.

[2022-01-19 08:56] DefaultV commented on #199
It does, I although have to do a observer call on `onEnteringVRObservable`
Then grab the xr experience:
`const xr = e.xr as WebXRDefaultExperience;` and then enable the feature.
Here's the full solution to set the teleportation target:

[code]

Disabling the controller meshes still seem to not pass properly as you said. It would be a shame to have to create a whole new webXRExperience just to disa

[2022-01-19 17:29] brianzinn commented on #196
sorry - i got a bit swamped.  for sure tonight...

[2022-01-19 17:32] brianzinn commented on #199
You want to be able to pass a ref to `teleportationTargetMesh` from a declarative context or you are OK with the imperative MeshBuilder?  I'll try to get some time tonight to create a Code Sandbox and then it will be easier to communicate on a solution.  I'd like to start with a recipe on how to implement as a best practice and then work towards a re-usable React hook or declarative component.  I

[2022-01-20 04:09] brianzinn commented on #196
ok - from all of my testing it will be set and the change should be there.  This always outputs the scene clear color from the prop:
[code]
Is it possible there is something in your `<ModelViewer ../>` that is altering the scene `clearColor`?  Maybe a skybox/environment or something?

[2022-01-20 04:15] brianzinn commented on #182
sorry @slash9494 I completely lost track on this issue as I thought it had been resolved with the side effect import.  Is it still not working or is there an import missing still?  If not resolved, is `ShadowGeneratorSceneComponent` something on your side?

[2022-01-20 04:24] brianzinn commented on #181
@bscott711 - were you able to find a resolution for this?  if an extension point can be added for better control of render loop that is the way to go.  I think it would be nice to be able to opt-out of rendering also when the canvas scrolls out of view.  It's not a stretch to have an opt-in mechanism that would combine `IntersectionObserver` (recently added  `ResizeObserver`  to this library) with

[2022-01-20 09:23] DefaultV commented on #199
#### Teleport mesh
I think the teleportationmesh actually makes sense to have with the imperative approach since the observer -> enable/disable feature approach seems fine.

The reason I need it on `onEnteringVRObservable` is because `onCreated`, the WebXR component is "undefined" at that point.

`{onCreated} console.log(vrHelper.xr) -> undefined`

`{onEnteringVRObservable} console.log(vrHelper.xr

[2022-01-20 17:57] brianzinn commented on #199
OK - I ended up awaiting for a ref I did on an XR demo:
https://github.com/brianzinn/xr-dom-overlay-react/blob/main/src/App.tsx#L47

That would at least provide the ref from declarative approach, but not render the XR buttons until that ref was made.  On the other hand you could get a ref to the manager on creation and then access the feature and change the teleportation mesh.

I was thinking a de

[2022-01-20 18:01] brianzinn commented on #181
I'm working on a new Engine FC that will handle better rendering logic and will look at passing in a custom method that will override what is current happening (like a template method).  I still need to compare with what @dennemark has above to really look at which way is easier to extend and more intuitive.  This code is not tested - just quickly converted to FC as one way to go:
[code]

[2022-01-30 22:09] benallfree opened #201 "AdvancedDynamicTexture nesting?"
I think `react-babylon-js` must automatically assign the `parent` property when elements are nested.

But I stumbled across https://playground.babylonjs.com/#ZI9AK7#1214 and AdvancedDynamicTexture which seems to take a completely different approach to parenting.

For example:

[code]

It seems you could do `<adtForMesh mesh={plane}>` if you had a reference to the plane, but doing

[code]

seems ou

[2022-01-31 00:47] brianzinn commented on #201
The `CreateForMesh` is a static property - you can let the renderer know you want it assigned to the parent mesh with the `createForParentMesh` prop - then it will take the closest declarative mesh:
[code]

The `addControls` are all called automatically and props are pushed also directly.  Have a look at this demo:
https://brianzinn.github.io/react-babylonjs/?path=/story/gui--with-2-dui

The sourc

[2022-02-06 16:28] brianzinn commented on #201
closing for housekeeping.  if your questions wasn't answered or you have more questions just re-open and ask away.  cheers.

[2022-02-06 16:28] #201 closed

[2022-02-06 16:29] brianzinn commented on #199
hi @DefaultV did you figure this out?

[2022-02-06 16:31] brianzinn commented on #182
closing from inactivity - if you have more questions or were unable to resolve as per above please re-open. thanks for finding that issue related to tree-shaking!

[2022-02-06 16:31] #182 closed

[2022-02-07 09:34] DefaultV commented on #199
No, I might be missing something but the `controllerMeshes: false` option in the vrExperienceHelper doesn't seem to work.
The teleportation mesh can be overridden by enabling the teleport feature with the option for it.

[2022-02-07 11:20] Avi-Cohen-Nehemia opened #202 "Question: How to export a scene as a png file?"
Hi There,
I was looking in the examples and package's docs but couldn't find a way to export a scene as a png file. Since we are dealing with a canvas element, I thought I could achieve that using vanilla JS but all I get is an empty image.
[code]
I thought maybe there are some special conditions since it's a 3d canvas?
Does the package provides a way to export png?

[2022-02-07 18:31] brianzinn commented on #202
Can you share how your Engine is created.  You need to set `preserveDrawingBuffer`:
https://doc.babylonjs.com/divingDeeper/scene/renderToPNG#createscreenshot

You can use `useScene` hook (inside of `<Scene ..> </Scene>` children) to get the engine/scene and activeCamera if you have just one camera.  Does that help?

[2022-02-12 23:54] brianzinn commented on #202
hi @Avi-Cohen-Nehemia  I made a code sandbox with the babylon tools:
https://codesandbox.io/s/compassionate-ganguly-y2zrf?file=/src/App.tsx

clicking the button triggers download of file:
![screenshot_22-2-12_15-53](https://user-images.githubusercontent.com/542756/153732590-b0ed0fc1-29bd-4974-826c-b28462ee74b4.png)

re-open if that doesn't solve your issue.  cheers.

[2022-02-12 23:54] #202 closed

[2022-02-14 14:39] Avi-Cohen-Nehemia commented on #202
That did help @brianzinn, thank you very much! 🙏🏼

[2022-02-22 10:28] GlebVST opened #204 "Non-Declarative version does double render"
Hi,

While profiling an app that's using this lib (pretty dated on version though) with non-declarative approach described [here in the docs](https://github.com/brianzinn/react-babylonjs/tree/v2.2.15#setting-up-a-react-component-in-your-project-using-onscenemount) have figured out there is double rendering going on due to a call to `scene.render()` inside the loop onSceneMount!

Was scratching my

[2022-02-22 18:05] brianzinn commented on #204
TIL that there can be multiple render loop functions.  Thanks for bringing this up.  I updated ironically yesterday on master a new `Engine` component.  It's not on NPM yet, but it allows much finer control.  Additionally, since the original version you reference there are hooks for onBeforeRender and onAfterRender that run in the existing render loop.  Here is the babylon code that schooled me as

[2022-02-23 00:24] brianzinn commented on #204
@GlebVST - Looks like when adding your own render loop that it should be preceded by
[code]
https://github.com/BabylonJS/Babylon.js/blob/ac1eb10bf5198373a33c1a0015581037c313e95a/src/Engines/thinEngine.ts#L1443

[2022-02-25 12:37] DefaultV opened #205 "<mesh> element, fromInstance not updating properly"
Bug repo:
https://github.com/DefaultV/create-react-app-typescript-babylonjs/tree/Bug-MeshFromInstanceChange

Hello! Currently when using the <mesh `fromInstance`={...}> property, it doesn't seem to dispose of the old mesh when updating the value, nor update the reference to the new mesh. Is this intended behaviour or am I missing something?

1. In the following repo, I'm firstly creating a box wit

[2022-02-26 01:36] brianzinn commented on #205
that is by design, but certainly I can consider changing that.  the `fromInstance` is equivalent currently to instantiation (or in this case replacement for instantiation), which happens only at time of object creation.  the reconciler understands that - have you considered using the `key` prop to signal to the reconciler that it is a different object.  I'm trying to work out if this should be par

[2022-02-28 11:23] DefaultV commented on #205
In my other project I use the key prop for multiple objects which all seem to have the same behaviour. What would be a workaround for this? Storing refs to the meshes I need to replace and then disposing re-parenting the new ones?

Maybe my approach is just very niché, one of the functionalities of my project is to generate and replace meshes at runtime.

I don't know if it should be core function

[2022-02-28 17:06] brianzinn commented on #205
hi @DefaultV I think I understand your issue and hope this is a solution.  There exists that functionality already and it is an "opt-in" mechanism.  Whenever `fromInstance` prop is used I am assuming that the developer wants to manage the lifetime of the object.  Imagine, for example, that you want to re-use a `Texture` and pass it through in different places, etc.

It's a bit buried in the code,

[2022-03-01 10:53] DefaultV commented on #205
I'd love to see an example, I'm currently having a hard time to get it to work on my end. See my PR for more:
https://github.com/DefaultV/create-react-app-typescript-babylonjs/tree/Bug-MeshFromInstanceChange

[2022-03-08 02:29] brianzinn commented on #205
sorry - I totally didn't see your comment.  i will look tonight.

[2022-03-08 05:21] brianzinn commented on #205
I made a couple of small changes to your Box.tsx to make it clearer and isolate the issue.  You can put back the useRef if you want.
[code]
output:
[code]

Note important notes:
1. the name "boxed" is applied to the mesh.  that is because there is a props handler
2. the onCreated callback will be fired even when you assign a new one, since the "key" changes and it will call those lifecycle events.

[2022-03-08 05:25] brianzinn commented on #204
I will update the examples - please re-open if you have additional questions or comments. (closing for inactivity)

[2022-03-08 05:25] #204 closed

[2022-03-08 05:26] brianzinn commented on #199
sorry @DefaultV I dropped the ball here completely.  Was this solved from the question in the babylon forum?  Is there something that can be added here to support otherwise?

[2022-03-08 05:27] brianzinn commented on #196
closing for inactivity - please re-open if your question isn't answered.

[2022-03-08 05:27] #196 closed

[2022-03-08 08:06] DefaultV commented on #199
I think the confusion might be that there's kind of two questions/issues in one here.
1. Teleportation controllers
I currently don't see a way to disable the controllers or dispose the meshes without creating a whole new XR component, the current way to implement VR is through the vrExperienceHelper (which is deprecated and kind of hard to find information on, if my assumption is correct) and ther

[2022-03-08 08:21] DefaultV commented on #205
Thanks a ton for the example! I am still quite curious.
On your example, changing line 8 to just:

[code]
Seems to break the functionality somehow, why is that?

[2022-03-08 16:00] brianzinn commented on #205
It will be evaluated evey render, whereas a function `() => ...` is only called the first time `useState` is called.  The best way to imagine it is that javascript will pass in a function without evaluating the contents, but if you pass in code then it will be run by javascript and passed in (and ignored after the first render, but "ignoring" a MeshBuilder.CreateBox, will still create a box).

The

[2022-03-08 16:10] brianzinn commented on #199
Yes, the VR Experience Helper is deprecated - it's based on an old browser API.

Did you take the first question to the forum about disabling controllers?  There is likely a way to overwrite that, but it may not be public.  It would make a feature request if not currently available - we could try to get it in 5.0 release.

For question 2 - looks solved.  I will make sure when I get time to write a

[2022-03-11 03:56] GzxNydia opened #208 "how to use VirtualJoystick"

[2022-03-13 18:13] verekia opened #209 "Best practice for accessing current state in a handler"
Loving this library so far! I would like to ask what your recommendation would be to access a current state inside a handler. With normal React DOM, each re-render recreates the handlers, but not with `react-babylonjs`, which keeps the variables in a closure from the first render. I guess my question is a more general follow-up of #139.

[code]

Thank you.

[2022-03-14 02:51] brianzinn commented on #209
hi @verekia - glad you are liking the library.  I think the primitive being brought in via closure is just a drawback of javascript.  Did you consider putting the variable in a dependency array for the callback?  Maybe you can share your actual use case - typically what I do is a `useRef` and then the `current` will be available in the callback, but not typically would I combine that with a `useSt

[2022-03-14 04:51] verekia commented on #209
Thank you for your response. I tried using `useCallback` but I get the same result:

[code]

My real use-case is that I am making a city-building type of game where you can place buildings on a grid of a map. The user clicks on the type of building they want to make, and then click on a cell of the grid to place that building there. The type of building currently being placed is held in a global R

[2022-03-14 05:23] brianzinn commented on #209
I think even in "normal React" that stale closures have always been a problem.  I do understand the issue you are having - did you have a solution in mind?  The source is here:
https://github.com/brianzinn/react-babylonjs/blob/master/packages/react-babylonjs/src/hooks/utilityHooks.ts#L132

It looks like you can put `useStore` inside the `useClick` hook if it's just to retrieve the state, but then

[2022-03-14 05:51] verekia commented on #209
In React, stale closures mainly happen when the execution is delayed from the render. For instance if you have a `setTimeout` that triggers something 5 seconds after a click, and you do more state changes before the end of those 5 seconds. But for sync things, there is not problem with my example above, callbacks are re-evaluated at each render, so they are in the execution scope of the current re

[2022-03-14 14:20] DefaultV commented on #199
Sounds great! Question 2 is no problem really, the "workaround" is fine for now.
Here's the post for question 1 on the forums:
https://forum.babylonjs.com/t/webxr-disable-vr-controllers/21073/8
They also suggest making a whole new XR experience object.

[2022-03-14 21:28] LucasEThomas opened #210 "How to render multiple meshes from the same mesh asset?"
I am trying to load in a mesh, and then use that mesh multiple times.

[code]

However, the above code only renders one chair mesh (the last one).

How can I accomplish this?

[2022-03-14 21:39] LucasEThomas commented on #210
Oh wait, hold up! I just figured out a solution by using .clone() like this

[code]

It renders four chairs as expected (yay!). But, is it good practice? The documentation is a little lacking here. Are there any pitfalls I should be aware of doing this?

[2022-03-14 22:43] brianzinn commented on #210
That's going to `clone()` the mesh.  You may end up with better performance with using instanced meshes as well.  That will look like this:
[code]
I have a story up here:
https://github.com/brianzinn/react-babylonjs/blob/master/packages/storybook/stories/babylonjs/Basic/instances.stories.js#L80

You can see the live demo here:
https://brianzinn.github.io/react-babylonjs/?path=/story/babylon-basic-

[2022-03-15 19:17] brianzinn commented on #210
Guess that means you got it working!  You can cast to `MeshAssetTask` if you know it's meshes and then you don't need to cast as unknown.  I could always add a generic <T> on the hook for convenience to help out there if that sounds useful.  ie:
[code]

[2022-03-15 21:14] DefaultV commented on #199
I think the conclusion is wait for the XR wrapper on this repo :sunglasses: Thanks for the followup!

[2022-03-15 21:14] #199 closed

[2022-03-16 11:35] dennemark commented on #129
Since this issue is a bit older: so far my approach of enabling and disabling meshes worked out well so far. Also using different key names for assets i.e. from the same url, works well.

But now Istumbled over a case where I would load multiple assets quite fast. Lets say I have 10 models to load and switch through them fast. My component using useAssetManager is called each time I choose a model

[2022-03-16 16:43] dennemark commented on #129
Tested the approach. It seems to work.

I am sometimes using react-query, which is pretty nice. However, I would expect a similar outcome. React-query is not cancelling the fetch on unmount, except one does it manually. So the loaded asset would still be processed by babylonjs. It would need this onSuccess callback, too. I guess.

[2022-03-16 18:44] brianzinn commented on #129
Thanks for the PR - it adds a good extension point - I think you also need to remove from the cache manually.  SceneLoader does so when you call dispose on the results - how are you handling that in your race condition?
https://github.com/brianzinn/react-babylonjs/blob/master/packages/react-babylonjs/src/hooks/loaders/useSceneLoader.tsx#L226

[2022-03-17 07:57] dennemark commented on #129
I haven´t thought about this yet. I guess I never disposed my meshes yet when using useAssetManager :D
So if I understood it correctly, useAssetManager currently does not handle disposal of loaded assets. If I would dispose the asset for example with `<mesh ... disposeOnUnmount/>` the cache of useAssetManager does not know about it, right?

Did you want to achieve this with  ` return () => clearSu

[2022-03-17 08:31] slash9494 opened #212 "render infinitely - scene, engine hooks"
i found infinite render loop when i used hooks ( useScene, useEngine) in components (such as light, model)

but i have not been aware of it if i don't use dev tools like console and it seems to be alright

is it normal situation ?

[2022-03-17 16:26] brianzinn commented on #212
can you share a repro - perhaps on codepen?  I have never seen that before.  sounds like you are saying that when you use devtools that it stops....  the render loop is running on the Engine automatically.  Otherwise if you can share code here.

[2022-03-18 03:35] slash9494 commented on #212
i find that my fps update state have made it render infinitely 😅
i think this code `setFps(engine?.getFps() || 0 )` could generate useEngine

[2022-03-18 03:35] #212 closed

[2022-03-18 03:51] slash9494 opened #213 "EnvironmentTextureTools.CreateEnvTextureAsync() compatibility"
i have tried to generate '.env' file by EnvironmentTextureTools of babylonjs

after generating buffer through it, it throw error and scene is out

i just refer to "generating texture" of babylonjs sandbox and only difference is to generate after loading texture through useEffect

but i'm not sure react-babylonjs environment cause it

i have tried it on `textures/pbr.stories.js` and i also changed

[2022-03-18 04:35] brianzinn commented on #212
thanks for sharing the solution.  `setFps` looks like a `useState` - that will cause a React render - not good performance to call every frame - poor performance.  Better to do that outside of React - on the canvas or vanilla js.  Glad you solved it 😄

[2022-03-18 04:37] brianzinn commented on #213
It looks like you don't have a camera created on that render - are you able to share more code?

[2022-03-18 07:57] dennemark commented on #129
I have a component i.e. that is using useAssetManager internally and allows to turn on render overlay / outline / shadows and wraps around a normal `<mesh />` component. For this component I could just use `return () => clearSuspenseCache(key);` in the unmount function if i wanted to. So others could easily use the component without thinking about the complexities of the asset manager. But thinkin

[2022-03-18 15:13] brianzinn commented on #129
Let me make it public. I could also change the return signature (like useState)…. do you think one way is better?

[2022-03-19 05:19] slash9494 commented on #213
This code is created on your storybook section `texture/pbr.stories.js`
So other code is same with that component
I just add above code on that

[2022-03-19 06:21] brianzinn commented on #213
is there a camera in your `<Scene .../>`?  I don't know if there is a potential race condition when the callback is called (potentially too early) or if you have not created a camera.

[2022-03-19 14:25] slash9494 commented on #213
Yeah in the scene, `arcRotateCamera` is created

I could not check the scene reloaded earlier than camera when converting is succeeded

But on the babylon sandbox or pure   Babylon scene, nothing is going to happen

[2022-03-28 04:55] brianzinn commented on #208
hi Nydia,

I do not have a component for this.  You will need to do so imperatively. Like:
[code]

If you can present a case for needing declarative then I will look at adding.

[2022-03-28 04:58] brianzinn commented on #181
This is all on the main branch, but not out on NPM.  I will implement with my new documentation to make sure it's working as expected, but there is an opt-in mechanism to skip render when the canvas is not visible (using intersection observer).

I can add a way to not render at all as an opt-in and then calling `scene.render(...)` can be the responsibility of the caller.

[2022-03-28 05:00] brianzinn commented on #213
sorry for late reply - is there any way you can repro this using something like code sandbox?

[2022-03-30 06:07] slash9494 commented on #213
here is sample situation on code sandbox
https://codesandbox.io/s/strange-sun-e824l5?file=/src/App.tsx

[2022-03-30 20:13] brianzinn commented on #213
That method is creating a camera:
https://github.com/BabylonJS/Babylon.js/blob/fdbf393d1d7699dc7cc69cec1dca0819ebd2622a/packages/dev/core/src/Misc/environmentTextureTools.ts#L252

I will see about how I can fix that.  I may need a guard clause on the default render loop.  I started a discussion on the forum and see if any suggestions are posted:
https://forum.babylonjs.com/t/fun-with-createenvtext

[2022-04-04 00:53] brianzinn commented on #213
For now you’ll need to create your own runRenderLoop (call ‘clear’ method first). I’ll make sure this is fixed for next release.

[2022-04-04 00:54] brianzinn commented on #208
Please re-open if you would like declarative support added.

[2022-04-04 00:54] #208 closed

[2022-04-04 02:36] slash9494 commented on #213
thank you for informing babylonjs of it
and i will try this method on my renderLoop

[2022-04-05 15:31] vishalamidala opened #214 "Property 'teleportEnvironmentGround' does not exist on type vrExperienceHelper"
Hi, I'm new to react-babylonjs and i follwed https://brianzinn.github.io/react-babylonjs/?path=/story/vr--simple-vr and i've react typescript project, and the prop teleportEnvironmentGround does not exists on vrExperienceHelper and immersive mode does not work on oculus 2.

Please help me with issue thanks in advance!

[2022-04-09 14:04] vishalamidala commented on #214
Thanks for the help! The below XrExperience component is working for me
`export const XrExperience = () => {
  const scene = useScene();
  React.useEffect(() => {
    const xrExperience = async () => {
      await scene?.createDefaultXRExperienceAsync({
        uiOptions: {
          sessionMode: 'immersive-vr',
        },
      });
    };
    xrExperience();
  });
  return <></>;
};`

I'm still l

[2022-04-09 14:59] #214 closed

[2022-04-09 15:27] brianzinn commented on #214
Thank-you for following up - I will make sure to add to the new docs!

[2022-04-09 20:50] rjhllr opened #215 "Decal Normal cannot be updated correctly"
I can't really wrap my head around this so far, but I'm also not as deep in the whole reconciler topic.

I'm creating decals on click (akin to the official example of the Cat [Playground](https://playground.babylonjs.com/#1BAPRM#73) / [Docs](https://doc.babylonjs.com/divingDeeper/mesh/decals). To do this, I store the current decalNormal in the state of a function component. Write the hit info into

[2022-04-09 21:22] rjhllr commented on #215
Reproducible Example (didn't really care about minifying it, removing unuseds and such - just to illustrate the point for now):
https://codesandbox.io/s/clever-elion-6rt42m?file=/src/App.js
If you remove the slashes in line 96 (forcing the rerender by key), everything works. The broken behavior once again illustrated:
**Place the first decal by click:**
<img width="413" alt="image" src="https://us

[2022-04-10 00:19] brianzinn commented on #215
It is working as expected and it's definitely something that will be explained in further detail in the new docs.  And also I am open to suggestions even breaking changes - I have considered newing up instances when a construction property changes that isn't on the object being reconciled against, but that can lead to other issues.  Things like 'box' have a 'size' and other properties are also unc

[2022-04-10 00:35] brianzinn commented on #215
also, `disposeInstanceOnUnmount` prop doesn't need to be provided for a mesh - it will default to true.  It's there primarily for an opt-out mechanism, if you want it not disposed during reconciler unmount.  So, you would want to use it above on the texture, although I would need to double-check, but when you use `fromInstance` the default behaviour to not dispose I believe, since then it's likely

[2022-04-15 10:00] dottodot opened #216 "Loaded Model merge meshes"
I'm trying to merge meshes on a loaded model but it always returns `null` and I'm not sure if it's react-babylonjs issue or not.

I'm using this https://github.com/KhronosGroup/glTF-Sample-Models/blob/master/2.0/Box/glTF-Binary/Box.glb and implementing as follows.

[code]

If I use a mesh created using MeshBuilder it works as expected.

[code]

[2022-04-17 20:04] brianzinn commented on #216
I've never used MergeMeshes, but it looks like it ought to work - was just reading the docs here:
https://doc.babylonjs.com/divingDeeper/mesh/mergeMeshes

One thing that I do is parent to a rootmesh in the Component, so this may work:
[code]

I would probably drop down to the hook itself as likely you want to dispose the original meshes (2nd parameter).  The component is here - it's mainly a wrapp

[2022-04-20 19:49] coder89 opened #218 "Strongly typed ref in BabylonNode<T>"
Currently `BabylonNode<T>` declares `ref` as `Ref<ReactNode>`. Therefore we need to write something like this:
[code]

`generatedProps.d.ts` should be updated to allow below:
[code]

I have created a PR that fixes the issue: #217

[2022-04-20 20:15] brianzinn commented on #218
Thanks. I’ll merge in tonight. Appreciate the PR!

[2022-04-21 04:24] #218 closed

[2022-04-21 04:25] brianzinn commented on #215
Please re-open if you have more questions.  Closing from inactivity.

[2022-04-21 04:25] #215 closed

[2022-05-02 16:31] nyngwang opened #220 "Can't resolve '@babylonjs/core/Behaviors/Meshes/baseSixDofDragBehavior.js'"
I got tons of errors like the title one after upgrading from `3.0.31` to `3.1.2`. And it turns out there is no such file `baseSixDofDragBehaviour.js` in the `node_modules/` folder when I tried to follow the path indicated by the error message.

[2022-05-03 18:22] brianzinn commented on #220
are you on babylonjs 4.x?  I think it's due to 5.0 stuff being explicitly linked.  I may need to revisit how I've added, but even more likely I will just update the peer dependency if that's the case.

[2022-05-03 22:51] nyngwang commented on #220
@brianzinn: Oops, all the versions in `package.json` are set to `"^4.2.2"` I think it's probably what you have said.

[2022-05-04 01:34] brianzinn commented on #220
i think for now you are stuck on 3.0.31 as long as you are using a 4.x version of babylon.js - I'll put something in the readme.  I suppose I can't be backwards compatible the way it's written right now unfortunately. I'll update the peer dependency version as well until I have time to investigate properly.

Thank-you for reporting.

[2022-05-04 06:02] nyngwang commented on #220
@brianzinn You should notice that my current working version is `"3.0.31"` and (all deps)`"^4.2.2"`.

[2022-05-04 08:00] nyngwang opened #221 "warning "react-babylonjs > react-reconciler@0.26.2" has incorrect peer dependency "react@^17.0.2""
As title. I'm using React 18. While it can still be compiled/bundled by Webpack without problems.

[2022-05-04 18:48] brianzinn commented on #221
Thanks again - you are right.  I should up it to `0.27.0`.   I'll work on a new package this weekend, but it will only be for babylon 5.x versions going forward for now based on what you reported in the other issue...  I can make it a peer dep I suppose... I'll look into that as an option.

[2022-05-12 07:34] dennemark commented on #221
Maybe I can add this issue here, too, since it is related to use of React 18.
https://github.com/pmndrs/react-three-fiber/issues/2218
I am experiencing the same issue in react-babylons as others in the react-three-fiber.
It seems the useRef interface changed slighlty in react 18.
There is also a PR. I guess it can be similarly implemented in react-babylonjs.

[2022-05-25 19:28] voronp commented on #181
can we add prop like `isPaused` to Engine and stop render if it is true?

[2022-05-25 22:44] brianzinn commented on #181
@voronp - that is a definite possibility.  There was a `shouldRenderRef` added when the IntersectionObserver was added.  I think it makes to tie into that logic, but I am unsure how they would work together if that is the case.  ie: "pause" rendering then it seems would take precedence over Canvas visibility always.  Here is the relevant code:
https://github.com/brianzinn/react-babylonjs/blob/mast

[2022-05-26 11:48] voronp commented on #181
@brianzinn ok, so created pr with demo in storybooks https://github.com/brianzinn/react-babylonjs/pull/223

[2022-05-27 20:49] alexbom opened #224 "How to use svg as texture from local path"
Hi! I need to load svg from local path as texture of mesh:

            <cylinder ...>
                <standardMaterial name="some-material">
                    <texture
                        url={"../assets/svg/some-image.svg"}
                        assignTo="diffuseTexture"
                    />
                </standardMaterial>
            </cylinder>

But it works only with remote URL

[2022-05-27 22:19] brianzinn commented on #224
Is that The same as this?
https://github.com/brianzinn/react-babylonjs/blob/master/packages/storybook/stories/babylonjs/Textures/pbr.stories.js#L147

[2022-05-28 12:18] alexbom commented on #224
Could you give an example, please?
I've tried to release this in sandbox, but unsuccessfull.
https://codesandbox.io/s/sleepy-cerf-5dghvn

[2022-05-29 19:41] brianzinn commented on #224
seems to work just by applying to the url that same as your PG.  I only changee to "emissiveTexture" so that it was easier to see:
![image](https://user-images.githubusercontent.com/542756/170888590-1fa54841-6440-44d5-9f66-bee419eadeb0.png)
fork of your sandbox:
https://codesandbox.io/s/magical-elgamal-hg02q0?file=/src/App.tsx

[2022-05-30 12:18] alexbom commented on #224
Thanks! It works

[2022-05-30 13:09] #224 closed

[2022-06-04 08:25] flyskywhy commented on #220
Ref to https://github.com/brianzinn/create-react-app-babylonjs/pull/6 , should modify "peerDependencies"
[code]
to
[code]
in https://github.com/brianzinn/react-babylonjs/blob/v3.1.2/packages/react-babylonjs/package.json

[2022-06-04 15:16] brianzinn commented on #220
thanks for reminding me @flyskywhy - I will update deps and readme this weekend!  one of these days I will have time to build the dynamic renderer without explicit imports..  will update also the 2 downstream sample projects 😄

[2022-06-04 15:44] #220 closed

[2022-06-04 15:46] brianzinn commented on #220
This should be fixed on v3.1.3 - please re-open if you have any further issues.  The main page readme has instructions for 4.x and peer deps will warn until proper fix is added.

[2022-06-04 15:54] brianzinn commented on #216
Closing from inactivity and no reply - I am unable to reproduce locally.  Please re-open if you have more feedback - thank you.

[2022-06-04 15:54] #216 closed

[2022-06-09 22:04] AJamesPhillips opened #225 "rectangle onPointerDownObservable removed after first pointerDown event"
I don't know if this is intentional but a `<rectangle onPointerDownObservable={() => { /*...*/ }}` and the onPointerDownObservable handler is only triggered once.  Further pointer down events are ignored.

If `rectangle` is replaced by `babylon-button` then it can be clicked multiple times and fire the handler each time.

A [demo of this is here](https://github.com/centerofci/sustainability-sims/b

[2022-06-10 00:13] brianzinn commented on #225
Here is the code that is updating the observable callback:
https://github.com/brianzinn/react-babylonjs/blob/master/packages/react-babylonjs/src/UpdateInstance.ts#L58

Looks like it should work.  Since you have a `key` prop then the reconciler should keep that one and re-assign the callback.  Calling `set_chosen_home` triggers a re-render.   I can see the code, but not what is happening in practic

[2022-06-27 07:36] dennemark commented on #221
The issue should be fixed by commit https://github.com/brianzinn/react-babylonjs/commit/c1fedc7123e6ec690d805cfa3b8caf946b81ad4a

However, it seems the generated props of babylon node still contains ` ref?: Ref<ReactNode> `  instead of   `ref?: Ref<T>`

https://github.com/brianzinn/react-babylonjs/blob/318502acf7d213f6effc2da948f009f27d2a574f/packages/react-babylonjs/src/generatedProps.ts#L393

Wa

[2022-06-27 14:42] brianzinn commented on #221
`Was the code for version 3.1.3. properly generated?`
No, it wasn't thanks for reporting @dennemark .  Can you confirm it's fixed now?

[2022-06-28 07:46] dennemark commented on #221
@brianzinn thanks for the fast update!
Unfortunately the above mentioned line in generatedProps still useses Ref<ReactNode>.
I tried to run generate-code and the build script in the repository, but could not do both.
The generate-code script would not recognize a .ts file even though the tsconfig includes `"module": "commonjs"`. So I had to dig a bit deeper and change a bit of configuration.

Futh

[2022-07-06 05:55] brianzinn commented on #221
I tried - got an error in the automated build. I think from Babylon versions. Will check tomorrow to fix

[2022-07-07 03:49] brianzinn commented on #221
@dennemark can you try 3.1.5?  I kept same tag and even did a patch - see how it goes.  I'm super swamped right now - definitely don't want new React 18 to have troubles.  Thanks again for the PR and following up.  Let me know if this can be closed 😄

[2022-07-11 07:52] dennemark commented on #221
@brianzinn I was able to use 3.1.5. Had to upgrade babylonjs to the newest versions though and install additional packages in my case. Then building worked again without type errors!

[code]
Thanks a lot. I would say this issue can be closed.

[2022-07-16 09:02] QMangoJ opened #228 "how can i get the scene instance in this with2DUI example ?"
<img width="902" alt="截屏2022-07-16 下午5 01 58" src="https://user-images.githubusercontent.com/35953248/179348311-5e72d9ae-58ef-40e7-bc02-378a04412165.png">

I want to show inspector like this code
`
Scene.debugLayer.show()
`

[2022-07-16 17:33] brianzinn commented on #228
hi @QMangoJ  One way would be to make a component like this:
[code]

Then in your calling code:

[code]

Having said all of that - the code would be a lot cleaner with hooks.  The example project you are looking at is really overdue for an update.

[2022-07-17 15:01] QMangoJ commented on #228
thank u very much. I got it!
And i wonder ask a question that how to implement tag like <Scene> or <Engin>  with react frame?
I want to implement a UI frame with react and babylonjs by myself.
I'm looking forward your reply.

[2022-07-17 16:00] brianzinn commented on #228
@QMangoJ  It sounds like you want to integrate a UI in React (with DOM) and have babylonj.js as part of a larger application.  I would look at a library to manage state like zustand (https://github.com/pmndrs/zustand).

If you use `createContext` then there are issues crossing render boundaries.
https://github.com/brianzinn/react-babylonjs/blob/master/packages/storybook/stories/babylonjs/Basic/con

[2022-07-17 16:00] #228 closed

[2022-07-19 12:46] DenysAshikhin opened #229 "Caching GLB Model Files"
Hi,

I am trying to get caching working for basic .glbmodels -> Currently they are being loaded in as such:
[code]

I have found the following guide:
https://doc.babylonjs.com/divingDeeper/scene/optimizeCached

However, it's not clear to me how I set the following: `BABYLON.Database.IDBStorageEnabled = true;`
And what to call the manifest file -> is it `person_model.glb.babylon.manifest` or `perso

[2022-07-19 21:30] brianzinn commented on #229
hi @DenysAshikhin good question - and it's a useful optimization.  Anything with `BABYLON.*...` would be designed around the non-ES6 NPM modules (although there is a legacy import on the es6 module @babylonjs/* NPMs).
[code]

Let me know how that works - suspect you may run into issues reloading models - there are some other recipes, but they don't cache that way (or look at PWA offline caching).

[2022-07-25 12:30] DenysAshikhin commented on #229
That seems to have done the trick, however, if I do want to use the manifest files for version control, do I need to make the file per asset or per scene? And what *exactly* should the manifest file be titled?

Thanks!

[2022-07-26 19:00] DenysAshikhin opened #232 "HTML Distance Factor - Lock Certain Axis"
Hi,

First of, just wanted to say that this library is great and genuinely a joy to use (learning curve of being new to babylon and web 3d graphics aside of course).

I am using the HTML element and having issues with it being positioned how I want. The closest I figured out was playing with the distance_factor, however, it shifts the element up/down (relative to camera view port?) and stretches/s

[2022-07-26 21:46] brianzinn commented on #229
I have never used the manifests - would be best to ask that in the main forum or read the docs/code.  You can do a scene one - I found this doc:
https://doc.babylonjs.com/divingDeeper/scene/optimizeCached

The other way is to make a PWA in React and then they are available offline.

[2022-07-26 21:52] brianzinn commented on #232
Thanks @DenysAshikhin - That is a good question and I think I understand from the linked video how you want the Html component to behave.  Are you able to share a reproduction in code?

cc @dennemark

[2022-07-27 10:16] dennemark commented on #232
Hi @DenysAshikhin I think you just need to remove distanceFactor, then it should work already. Or am I missing something?

[2022-07-28 12:22] DenysAshikhin commented on #232
So not quite, the way I have it now, is I use a (normally invisible and tiny, but for demo purposes I made it white and big, which is overlayed on the person model. This serves as the anchor for the HTML element. However, when I zoom out the HTML element is way off from the actual model it's anchored too, but zoomed in it's okay.

Screenshots to show issue better:
![Screenshot 2022-07-28 081756](h

[2022-07-28 13:09] brianzinn commented on #232
Yes - usually for issues to use code sandbox - ie:
https://codesandbox.io/embed/magical-elgamal-hg02q0?codemirror=1

otherwise to fork this repo and use the storybook or website, but that is usually for library changes/fixes.

[2022-07-28 13:22] DenysAshikhin commented on #232
I just added the Html in there, if you zoom out, you can see the div just goes wayyy of from the actual box it is linked to:
https://codesandbox.io/s/great-fast-jo0klb?file=/src/App.tsx

[2022-07-28 13:59] dennemark commented on #232
I see what you mean.
This happens for me too, if I turn on the inspector in my app.
I need to have a look at it next week. But my guess is, that it is related to the reference div or canvas that is used to calculate the position of the html element.
To me it looks like, we get the relative position of the boxes on the canvas, but they are projected onto the parent div of the canvas.

[2022-07-28 14:04] DenysAshikhin commented on #232
I'll keep an eye out here for any response/suggestion, but the expected (intuitively) interaction is the element stays the same size, and in the same place, and changing the distance_factor would change the scale/size (much how `transform: scale()` works based on camera zoom level?

Let me know if there is anything else I can do to help!

[2022-07-28 14:08] dennemark commented on #232
I think I have it. Try position relative - makes sense for CSS.

[code]

Maybe we should include it in the examples with comment line.

[2022-07-28 14:18] DenysAshikhin commented on #232
It's better, but issue still persists?

![image](https://user-images.githubusercontent.com/10791321/181533246-eea8f008-e0c3-4711-a55c-efa927c9adc5.png)
![image](https://user-images.githubusercontent.com/10791321/181533828-6fa240a0-8fde-455e-8fe0-c84b818fa28a.png)

[2022-07-28 16:52] brianzinn commented on #232
You can pass-through styles as well on the Engine - they should be attached to the canvas.
I think it is:
[code]

[2022-07-28 17:19] DenysAshikhin commented on #232
I feel like I'm missing something:
![image](https://user-images.githubusercontent.com/10791321/181598552-48d1ed73-8336-41b3-b289-4fc053c89942.png)
![image](https://user-images.githubusercontent.com/10791321/181598597-16f6ca89-3676-436a-bbf1-e8cd2384a05c.png)

It looks like it's keeping it in the same spot on the canvas? But that's not correct since as you zoom out, the distance from the box and th

[2022-07-28 18:00] brianzinn commented on #232
something is not working with the `style` on `<Engine... />` - I can look at that separately.  Definitely seeing the inspector mess things up though, so looks related.

[2022-07-28 20:07] DenysAshikhin commented on #232
Sounds good, again, let me know if there's anything else I can do to help out/troubleshoot/test

[2022-08-02 12:28] dennemark commented on #232
I think these issues happen, because of the #babylonScene css style with width and height at 80% in the style.css.

[2022-08-04 15:42] mike-at-hypothetic opened #235 "react-reconciler dependency prevents upgrade to react 18"
I get the following conflict when upgrading to react 18:
`warning "react-babylonjs > react-reconciler@0.26.2" has incorrect peer dependency "react@^17.0.2".`

[2022-08-04 15:44] saidmoya12 opened #236 "Context lost in child components (Error with providers like Redux, React Router and Zustand)"
I would like to know if it is possible to keep the "context" in the child components of scene

Child components lose context within the scene, so I have problems with react router, redux or zustand hooks inside child components

I know it's a context issue, because I was able to fix react-routerV5 with the following code

[code]

Thanks.

[2022-08-04 16:27] brianzinn commented on #235
you're right - it should be `0.26.7`.  I'll try to get a fix out this weekend - should be a warning you can ignore as it's a peer dep.

[2022-08-04 16:32] brianzinn commented on #236
Good question @saidmoya12  -- It's a known "bug" with React context crossing renderer boundaries.  Are you able to make a bridge like this?
https://github.com/brianzinn/react-babylonjs/blob/master/packages/storybook/stories/babylonjs/Basic/contextBridge.stories.js#L28

You should only need to do it once to bring it across into your `<Scene>...</Scene>`.

[2022-08-04 17:12] mike-at-hypothetic commented on #235
Thanks for the quick response!  No need to rush but I wanted to put it on your radar.

[2022-08-04 19:49] saidmoya12 opened #237 "change <rowDefinition/> and <columnDefinition/> childrens doesn't reset on component update"
**(row and column definition aren't reset on component update)**

When I update rowDefinition and or columnDefinition this add a new column for each update

This is my code
[code]

I try to set with useEffect but children is cleared too :(

[code]

Any idea to update a grid?

Thanks!

[2022-08-04 23:03] brianzinn commented on #237
hi @saidmoya12 - thanks for finding that.  I never got that far in using the grid, but I think if we add a method telling the column how to remove itself then it will work - just need to add some code here:
https://github.com/brianzinn/react-babylonjs/blob/master/packages/react-babylonjs/src/customHosts/grid/columnDefinition.ts

Can you provide a repro?

[2022-08-05 01:23] saidmoya12 commented on #237
Thanks, but columnDefinition and rowDefinition must be cleared from grid component (parent) once only, however I found a solution!

We can force remount component just modifying **key prop** when columns or rows are modified

```key={`${columns}-${rows}`}```

[code]

Thanks again [brianzinn](https://github.com/brianzinn)

[2022-08-05 01:23] #237 closed

[2022-08-05 01:45] brianzinn commented on #237
That's kind of a hack as it will create a new Grid (certainly a useful hack) as you are essentially tricking the reconciler to rebuild everything.  If you get to the point where you want to keep the grid I'm happy to add in the `removeXxxDefinition(...)` when the definitions are removed.

Thanks for following up and sharing your workaround.

[2022-08-08 11:59] DenysAshikhin commented on #232
Hey all,

That seems to have fixed the issue, I'll close this now, thanks for all your help!

[2022-08-08 11:59] #232 closed

[2022-08-12 20:17] mission-minnow opened #240 "Two scenes created in simple example."
Here's the code sandbox:
https://codesandbox.io/s/quiet-haze-xyodgq?file=/src/App.tsx

In this simple example, I'm just creating a scene with a non-default clear color. If I log when the scene gets mounted, I get two different scenes.

Check the console output.

onSceneMount={(args)=>console.log(args)}

{scene: Scene, canvas: HTMLCanvasElement}
{scene: Scene, canvas: HTMLCanvasElement}

[2022-08-15 15:59] AJamesPhillips commented on #240
Looks like it's reusing the canvas but creating a second scene:  https://codesandbox.io/s/morning-star-etwzsr?file=/src/App.tsx

However I [run the following code locally](https://github.com/centerofci/sustainability-sims) and it does not seem to call the `onSceneMount` twice.  I am running `react-babylonjs` @ `3.1.3`.

[2022-08-15 16:24] AJamesPhillips opened #241 "textBlock onPointerDownObservable not called again after first event"
With the following code you can click the textBlock multiple times and see it only log to the console once.  If you click the button it logs multiple times: https://codesandbox.io/s/textblock-onpointerdown-9yv7vt?file=/src/App.tsx

Expected result: clicking the textBlock should log multiple times.

Related info: it appears that clicking the console window then allows you to click the textBlock aga

[2022-08-15 16:36] brianzinn commented on #241
Unfortunately I'm not going to be able to fix that - it's a downstream issue.  If you upgrade your codesandbox to `@babylonjs/gui@5.19.0`, for example, then it works as expected.  Please re-open if you have more questions.

[2022-08-15 16:36] #241 closed

[2022-08-15 16:38] brianzinn commented on #240
I think it's because you are in `Strict` mode.

[2022-08-16 15:51] brianzinn commented on #236
Thanks for adding to the conversation @cjjkoko, but it looks like it does not capture the context before the renderer switches!

Closing from inactivity - please re-open if you have more feedback.  There is also a generic way to bridge the context in drei (https://github.com/pmndrs/drei#usecontextbridge).

[2022-08-16 15:51] #236 closed

[2022-08-23 13:26] mz8i commented on #240
Somewhat related I think - I just encountered a problem after upgrading to React 18 (which in strict mode runs each effect twice to check for proper clean-up). My problem is with enabling physics. When strict mode is enabled, I get an error from the AmmoJS plugin (`this.world is null`) . Removing strict mode removes the problem, but it suggests that there should be some fixes to the main `useEffec

[2022-08-24 00:01] brianzinn commented on #240
I gotta look more into this… The irony is that it was changed not long ago to use hooks!!

[2022-08-29 19:14] brianzinn commented on #229
closing from inactvity - please re-open if you have more questions.  cheers.

[2022-08-29 19:14] #229 closed

[2022-08-29 19:16] brianzinn commented on #225
closing as it appears to be a bug in downstream project in babylon 4.2 only.  not going to add a workaround in this library.  please re-open if your question is still unanswered.

[2022-08-29 19:16] #225 closed

[2022-09-01 14:43] brianzinn commented on #181
closing from inactivity - there is the fix from voronp, but also I added the opt-in prop `whenVisibleOnly` that will only render when a portion of the canvas is visible to demonstrate that extensibility.  please re-open if your question remains unanswered.

[2022-09-01 14:43] #181 closed

[2022-09-01 14:46] brianzinn commented on #235
thanks @mike-at-hypothetic - i bumped everything up and should be good on `react-babylonjs@latest` version (3.1.7).  please re-open if not solved.  cheers.

[2022-09-01 14:46] #235 closed

[2022-09-02 19:07] smoya-ekoo opened #242 "Uncaught Error: No camera defined after upgrade"
I have the error after upgrade node modules today

looks like if engine._renderLoop run before camera is mounted
Before upgrade works well but reverse changes doesn't solve it 😢

**Uncaught Error: No camera defined**
[code]

`node v16.17.0`
`plantform windows 10 x64`

with this simple code
[code]
I try with clean install but problem persists

Someone have same problem?

[2022-09-02 19:14] brianzinn commented on #242
Thanks for reporting -  I can check when home in 2-3 hours

[2022-09-02 23:03] brianzinn commented on #242
@smoya-ekoo - are you able to reproduce with a code sandbox or github repo?
This is working on `react-bablonjs` 3.1.9 (just published), `react` 18 and `@babylonjs/*` 5.2.1:
https://codesandbox.io/s/floral-water-els13w?file=/src/App.tsx

[2022-09-02 23:45] smoya-ekoo commented on #242
Yes! happen after upgrade, thanks

https://codesandbox.io/s/solitary-react18-2-s1n5cg?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/112122665/188246930-ddadf634-3cea-46a6-a2fd-2b58e483bf74.png)

![image](https://user-images.githubusercontent.com/112122665/188246869-031148d2-6cc2-4f67-8a1e-d324e7930a52.png)

[2022-09-03 14:41] brianzinn commented on #242
hi @smoya-ekoo - Thanks for the code sandbox - seems that the scheduling in React 18.2 is a bit different and I was making assumption that the cameras would be supplied with the `<Engine ../>` on first render.  Anyway, can you give `3.1.10` a try now - I just tested on your codesandbox.

I just did a quick fix, but maybe I should add something to generate warnings for people who forget to add a ca

[2022-09-03 14:47] brianzinn commented on #240
I have done some React 18.0-18.2 compatibility changes this week.  It's working in StrictMode on the sandboxes I have tried.  If you can share a reproduction then I will be happy to look at solutions.  AmmoJS should allow re-creating scenes - so perhaps something in your code has made assumptions otherwise?

[2022-09-04 13:03] cjjkoko opened #243 "version:3.1.10 EcmaScript Module"
At new version, I got this issue:(probably because the origin is strict EcmaScript Module, e. g. a module with javascript mimetype, a '*.mjs' file, or a '*.js' file where the package.json contains '"type": "module"').

https://github.com/brianzinn/react-babylonjs/blob/master/packages/react-babylonjs/src/ReactBabylonJSHostConfig.ts

I change
[code]

to

[code]
can resolve this issue

[2022-09-04 13:11] fliptrail opened #244 "Unable to add material to mesh from prop value"
If I try to assign a material this way, it does not work
[code]

But the below approach using JSX works
[code]

[2022-09-04 16:09] fliptrail commented on #243
You can also do a separate `npm i react-reconciler`. It will update it to the latest version.

[2022-09-04 18:00] drcmda commented on #236
@brianzinn https://github.com/pmndrs/its-fine this solves the issue completely. we will be using this ootb for canvas from now on.

[2022-09-04 23:32] #243 closed

[2022-09-04 23:42] brianzinn commented on #243
thanks @cjjkoko for reporting that and helping me work through these issues!!  Hope it's working for you now 😄

[2022-09-05 00:02] brianzinn commented on #244
hi @fliptrail - good questions - the docs aren't very good at the moment.  Right now the `material` prop of `<ground ../>` is not picked up by this renderer.  I'm assuming you simplified your code for simplicity, but what you have there would create a new texture on every render otherwise.  What you want to do can be accomplished in a couple of different ways - this is a way to assign a material i

[2022-09-05 01:05] brianzinn commented on #236
@drcmda - let me know when you bring that into r3f (it sounds like that is your intention) -- Very interested to look at how you will integrate it and would consider adding as a dep - lots of people get caught up on the renderer boundary.  I've been switching all my demos to `zustand` as it solves the renderer boundary issues seamlessly.

Looks like I just `useContextBridge` and flow the `{childre

[2022-09-05 06:38] cjjkoko commented on #243
@brianzinn thanks

[2022-09-05 06:43] fliptrail commented on #244
Thank you very much for an extremely quick response. All of these workloads would work perfectly fine for me. I was just wondering why the first approach did not work.

[2022-09-05 18:31] #244 closed

[2022-09-06 13:38] #242 closed

[2022-09-08 16:18] domenicomanna commented on #196
Still looks like the scene `clearColor` is not getting set consistently when using the prop. Sometimes after refreshing the `clearColor` is correct and other times it is not. [Code sandbox link](https://codesandbox.io/s/wizardly-david-8pvwsd?file=/src/App.tsx:258-371)

![2022-09-08_11:53:19](https://user-images.githubusercontent.com/37960125/189173101-7d6698e0-297b-4c9c-8565-7d20a01332d9.png)

[2022-09-08 16:50] brianzinn commented on #196
looks related to `<StrictMode>...` that is why it shows twice as well.  I think it was actually fine before React 18... I think this is a separate issue  - there are a couple of open ones now related.

[2022-09-21 10:55] antonyrey opened #246 "Unable to resolve module react-dom/client"
Hello,

I'm trying to use react-babylonjs inside a React Native application. I followed the small sample in the README : https://github.com/brianzinn/react-babylonjs#react-native

However, when I start my project, I get the following error at runtime :

[code]

Did anyone encounter the same issue?

I didn't find any working sample anywhere, and is there really no documentation at all for this libr

[2022-09-21 16:09] brianzinn commented on #246
Actually, I think I just need a separate native export.  ie: `import { Scene } from 'react-babylonjs/native'`.  That would exclude `Html` component.  I won't need `Engine` component in there either due to how native creates one with their `useEngine` hook.  @dennemark FYI

[2022-09-21 16:17] brianzinn commented on #246
it's worth trying `import Scene from 'react-babylonjs/dist/Scene';`.  I can work to remove /dist/ from the import statement.

[2022-09-22 09:15] dennemark commented on #246
I haven´t used react-native yet. Is it easy to set up with the react-babylonjs repository?
It would be nice to have a similar component to HTML for native, but I guess it won´t be that easy.
If you manage to seperate the native export, it is a nice solution. Otherwise we would have the same issue in a package that would seperate HTML from main package as soon as you want to use other helper files

[2022-09-28 13:40] AntzeloBRKK opened #247 "[Question] React components as UI elements"
First of all hello and a big shoutout for the amazing work done in the library, it has proven very helpful so far and relatively easy to integrate `babylonjs` with react.

I'm currently working on a `Nextjs` project where I have basic scene setup with a ground grid and a model with some animations and some playback controls.

What I'm trying to achieve is have the Scene and model/s render inside b

[2022-09-28 18:17] brianzinn commented on #247
This is the right place - good question.

Firstly that's a good way to grab a scene ref and make it available outside.  There is an issue with React and when switching renderers (reactDOM and react-babylonjs) that they do not share context, but `zustand` gets around that so is also the right choice.  Keep in mind also StrictMode will run twice in dev mode, but that should be fine.

I think in zust

[2022-10-02 03:42] mikecann opened #248 ""Type instantiation is excessively deep and possibly infinite" Typescript error when used with Chakra-UI"
As the title suggests you get typescript errors when you try to combine react-babylonjs with Chakra-UI.

I suspect that this is a common issue with React Fibre when combined with complex UI frameworks. See these other issues from similar libs:

https://github.com/pmndrs/react-three-fiber/discussions/1752
https://github.com/pmndrs/react-spring/issues/1515
https://github.com/microsoft/TypeScript/iss

[2022-10-02 04:12] brianzinn commented on #248
Can you share your code that causes this error?  I have, for example, a `Box` export, but I am happy to remove it as it's unneeded and maybe even confusing, but perhaps you have something else - looks like may be a globals conflict...

[2022-10-02 04:33] mikecann commented on #248
Hmm I just had a shot at trying to make it fail but I failed:

https://codesandbox.io/s/eloquent-tesla-rnvk8g?file=/src/App.tsx

It seems to work fine.. I guess the issue is my end then, some combination of my dependencies + builder... sigh

[2022-10-02 04:33] #248 closed

[2022-10-02 16:21] brianzinn commented on #248
Sometimes codesandbox is more forgiving than VS Code. Can still be an issue here.

[2022-10-05 14:23] AntzeloBRKK commented on #247
Thanks for the feedback will try to make some time to produce a small subset of the thing I'm doing to better illustrate my case, i've been a bit busy these days but will definitely come back with an update.

[2022-10-18 15:38] brianzinn commented on #247
![image](https://user-images.githubusercontent.com/542756/196477406-576c581a-f5d7-4120-b5a1-1e9175a9ec44.png)
do i need a pro account or something to run that?

[2022-10-19 13:27] AntzeloBRKK commented on #247
Yea, sorry about that. I'm not sure what is causing that error on `codesandbox` because locally my model works correctly with the use of the `<Suspense>` component as it waits until it completes loading.

My point is beyond the issue of loading the asset  though (always helpful to know if that's a good practice or not) but the feedback Im mainly looking for is on how I am using `zustand` to store

[2022-10-19 20:42] brianzinn commented on #247
i'll try locally as well!  i see your point - if you look at libraries like react-spring they do animations outside of the react render loop - that's what i do as well generally.  i agree the sync is not in state, so cannot display numbers without some dhtml, which is what we are trying to get away from in the first place with React...  let me have a better look and report back.

[2022-10-21 09:34] DefaultV opened #249 "Eslint - Unknown property on components (react/no-unknown-property)"
Hello again!
Using Eslint with react-babylon seems to cause some confusion with properties.

It might be happening due to the naming format used by react-babylonjs which matches the one for native components - lowercase with dashes as separators.

A workaround for now for me was using:
`"react/no-unknown-property": "off"` in the eslint config

Bug repro
https://github.com/DefaultV/create-react-app

[2022-10-21 16:47] brianzinn commented on #249
if you notice in the BouncySphere.tsx the "button" control is called "babylon-button" due to a conflict with HTML button.  I needed to do that with a few elements, so it looks like maybe with React18 that more intrinsic elements are available that conflict?

[2022-10-22 07:10] rohitatcosm commented on #249
Yes it is happening with React18 only.

[2022-10-26 12:30] DenysAshikhin opened #250 "ArcCamera setting upVector crash"
Hi all,

I am trying to change the orientation of the arc camera rotation, which I know works on babylonJS sandbox, but when trying to implement it in react-babylonjs I get the following stack:

[code]

Sample arcCamera:
[code]

[2022-10-26 21:47] brianzinn commented on #250
hi @DenysAshikhin I will deploy a fix for this once I get a chance to test.  I think it's already on main branch for a month actually as it was an issue brought up in babylon.js forum...

[2022-10-27 05:31] brianzinn commented on #250
@DenysAshikhin can you confirm it's fixed in `3.1.13`?

[2022-10-27 05:58] brianzinn commented on #247
sorry been super sick lately - haven't forgotten.  will look again soon...

[2022-10-27 12:31] DenysAshikhin commented on #250
Yup it's fixed in `3.1.13`

[2022-10-27 12:31] #250 closed

[2022-10-27 16:24] brianzinn commented on #246
closing from inactivity... please re-open if you need help still.

[2022-10-27 16:24] #246 closed

[2022-10-27 16:31] ljharb commented on #249
There's nothing to fix here, because indeed, these aren't valid HTML elements.

Custom components in jsx must start with a capital letter; lowercase ones are only for standard HTML.

You can use the `ignore` config to ignore these properties, but I'd recommend filing a bug on whatever nonstandard renderer you're using.

[2022-10-27 16:53] brianzinn commented on #249
@ljharb - lowercase ones are NOT only for standard HTML as I said in your project - I really wish you would take the time to understand renderers!  only the non-PascalCase "host elements" are handed off to the renderer by `react-reconciler`, so they MUST be lowercase/camelCase.  ie: we MUST have `<arcRotateCamera ... />` (and it doesn't require an import).  If we have `<ArcRotateCamera ... />` the

[2022-10-27 16:54] ljharb commented on #249
Fair enough - then, for the *react* renderer, only HTML elements may be lowercased, and eslint-plugin-react is for the *react renderer*.

[2022-10-27 16:55] brianzinn commented on #249
Sounds good then!

[2022-11-06 14:17] coder89 opened #251 "Breaking changes between 3.1.11 and 3.1.13"
Hi,

Today I was doing a packages upgrade and discovered that 3.1.13 introduces a breaking change that isn't documented (or at least I couldn't find any info about it). All props like `position-x`, `scale-y`, etc. stopped working. Turns out that this library no longer takes care of these. Was this intentional design change (that should be documented somewhere in the release notes) or should it be

[2022-11-06 15:40] brianzinn commented on #251
It was intentional. I wasn’t sure about the community impact, because it wasn’t really documented. The arcRotateCamera crashes if you change the upVector, because it has a set accessor. What I was trying to do was guide people down the right path. If you look at TransformNode the position is a serAccessor that sets an internal property. I think I’m ok to put it back - to be honest I was very surpr

[2022-11-11 08:45] dennemark opened #258 "Observables Strong Typing"
As mentioned in a discussion, this issue should keep track of adding stronger typings to observables.

Original discussion:

  Is my assumption right, that observables are updated properly?

https://github.com/brianzinn/react-babylonjs/blob/daa6605d1702f282365d797a7b1ab3bc0cb89db8/packages/react-babylonjs/src/UpdateInstance.ts#L54

When writing it as property, it is missing proper typing though. W

[2022-11-14 17:42] aliwangzai opened #259 "<pbrMaterial> are not fully supported for all properties"
Hi,
pbrMaterial does not support propery like "isFractionEnabled"
I am new to React ,  I tried to modify the source code . I didn't get this to work ! :(

[2022-11-14 21:28] brianzinn commented on #259
hi @aliwangzai  -- Only properties from the API are supported.
https://doc.babylonjs.com/typedoc/classes/BABYLON.PBRMaterial

Have you added your own properties?

[2022-11-17 13:24] DenysAshikhin opened #260 "Html element flickering (new)"
Hi,

First of all, thank you for creating + maintaining this library, *and* being pretty quick + helpful when questions/issues arise. That being said, I have an issue that wasn't present before where the Html element flickers (gets rerendered?).
Demo: https://youtu.be/JuEgflt4C60

This wasn't an issue before, I'm not sure when it started exactly but it wasn't always there until more recently. I tr

[2022-11-17 14:55] dennemark commented on #260
I have just created a PR (independently of your issue :D) that changes the render hook of HTML from onBeforeRender to onAfterRender. Maybe this solves already the issue?
Otherwise I will need to have a look at it again.

Your sandbox does not show an html component.

[2022-11-17 15:17] DenysAshikhin commented on #260
Really sorry about that, I updated the sandbox

[2022-11-17 15:47] dennemark commented on #260
Can you reproduce it in a codesandbox?
I updated dependencies and could not reproduce: https://codesandbox.io/s/affectionate-hypatia-w7rqz6?file=/src/App.tsx

But the way you describe it with the refetch, I am wondering, if the Html component is being remounted every time?
Any chance you could keep the wrapping Html alive?

[code]

[2022-11-17 19:02] DenysAshikhin commented on #260
When you say keep the wrapping Html alive, do you mean not behind a conditional render?

[code]
That's what it looks like from my current code - so I don't think (?) I'm loosing the wrapping html

[2022-11-18 09:11] dennemark commented on #260
What happens, if you just display some div with text, instead of MachineStatus within that component?
You are not using occlude on Html right?
As soon as @brianzinn pushes the next version, we could try it with the updated Html component.

[2022-11-18 13:36] DenysAshikhin commented on #260
Yea, I'm not using occlude. Also I tried simly:

[code]
and it's the same result.
I've also added a few more conditional renders to better show how my code is structured - but I still can't cause it to flicker on the codepen (https://codesandbox.io/s/blissful-lamport-jxeugm?file=/src/App.tsx)

[2022-11-20 18:19] aliwangzai commented on #259
I see ,I just want change the property by code .  some properties beyond the API  but actually exists in the Inspector Editor of Material .  😃 ,maybe the property  are not exposed yet ?

[2022-11-21 17:54] brianzinn commented on #259
Can you show a screenshot of where you see this?  I can't find it anywhere:
https://github.com/BabylonJS/Babylon.js/search?q=isFractionEnabled

[2022-11-22 01:55] aliwangzai commented on #259
<img width="334" alt="image" src="https://user-images.githubusercontent.com/5028177/203197672-5637f072-c1b5-45d9-8105-3d0d8accd2a2.png">
 above , there are also other properties not being exposed

[2022-11-22 01:57] aliwangzai commented on #259
<img width="334" alt="image" src="https://user-images.githubusercontent.com/5028177/203197672-5637f072-c1b5-45d9-8105-3d0d8accd2a2.png">
 above , there are also other properties not being exposed

[2022-11-22 16:18] aliwangzai commented on #259
Thanks for ur help !

[2022-11-22 16:18] #259 closed

[2022-11-22 16:58] brianzinn commented on #260
sorry I didn't publish earlier.  can you try `3.1.14` with the render update?

[2022-11-24 15:44] dennemark commented on #260
Try this: https://codesandbox.io/s/priceless-khorana-uusur0?file=/src/App.tsx

It has its own implementation of Html. It also uses Tunneling - I just named it this way... If you prefer a library, stick to tunnel-rats, but their version does not include hot module reloading as well as the order of Html Elements could change.
You can also create a tunnel the other way around. Send babylon data from

[2022-11-24 17:14] DenysAshikhin commented on #260
That looks promising! I tried to incoporate the solution as the extra libraries aren't a problem, however, I have never worked with typescript (comfortable with typings, just not typescript itself). And my whole project is just JS. I'm running into some issues trying to make it work.

I did my best in my codepen: https://codesandbox.io/s/blissful-lamport-jxeugm?file=/src/Html.jsx
I would greatly a

[2022-11-29 14:15] DenysAshikhin commented on #260
Just an update that I used [this](https://www.typescriptlang.org/play?#code/PQKhCgAIUgBBbA9gEwK4BsCmkBimCGALgGoCWmA7gA6IBOhwAxovDQHaZuEDOwAEgBUAsgBkoIYOFKs6hSAG9IqVKWSQAvpABmtFpABEsQgAtSAOjYBzYLXxtkLfQG4pM+gqi5bl+J0IAaTwAlAkZCADkUTEDIJW5MAGF8dHQAI3xGAGsYuMwRfABPRFRCAFEtLUwwnNR4oUwkcE0dPX1aUMJnVxp3RnaibBb4AwAvWsI7ZC7wQgKqbAAFXSpuSABeBUhGU3RkdrYALkgQjIiojRcZuewAZQnCbA35T0ZUWn3CI5DmWmQAHm4hFopCs-mOHU

[2022-11-29 14:30] dennemark commented on #260
Very nice! I tried to convert, but there were more issues than expected, so I had to postpone it. Nice that it worked.

Sure you can use your own random ID´s. I just used it out of convenience.

I guess it should be also possible to deal with the ids without use of external dependencies, i.e. just by using a counter.
Anyhow would be nice to know, if @brianzinn would prefer to have additional depen

[2022-11-29 14:42] DenysAshikhin commented on #260
Right, in my case each element is already tied to a unique ID so I don't strictly speaking need the uuid. But I will leave it anyway in case I need to use the HTML for something else. I won't mark it as resolved just yet as I would like to get @brianzinn opinion on it and we can close it then. Just for conveniency, my working (JS + TS hybrid repo) [HERE](https://codesandbox.io/s/blissful-lamport-j

[2022-11-29 14:47] brianzinn commented on #260
I am open to zustand for sure.  It's inconvenient to need to declare components in the Scene (to get Scene access), but like you said there is a trade-off and probably just need to doc some recipes.  The other disadvantage of right now is needing to bridge across context boundaries, so I always recommend zustand over redux, for example.

[2022-11-29 14:50] DenysAshikhin commented on #260
In that case, I'll leave this open for a few days in case I notice something else odd with this implementation. If not, I will silently close it. Thanks for all your help guys!

[2022-11-30 13:34] DenysAshikhin commented on #260
@dennemark I would also be open to getting into a call + screen share since the code on my end isn't anything overly complex. And the problem happens right away, so perhaps we can do some on-the-spot logging to try and recreate it inside a code pen?

[2022-11-30 14:58] DenysAshikhin commented on #260
I've narrowed the problem on my side to my div's being `position: 'absolute'`. However, this behavior is not being replicated in the code pen. When I remove the `absolute` then it fixes it from being moved to the bottom (0,0) but instead, it seems to take up space in a difference div (a scrollbar appears) and then immediately disappears.

My impression is when the div gets mounted/changed it gets

[2022-11-30 19:13] DenysAshikhin opened #262 "importMesh of undefined from undefined version: undefined, exporter version: undefinedimportMesh has failed JSON parse"
Hi all,

I am trying to import a .glb file on the front-end, which is being served from a server.

On the server the file is served as:

[code]

On the front-end the model is being loaded as:
[code]

Which leads to the error:
[code]

I know the file itself is fine since I can load it no problem if I serve it from the public folder (`rootUrl={`./`}`). And if I try to the link in the browser, it dow

[2022-11-30 19:42] brianzinn commented on #262
Did you try serving using static?

[2022-11-30 20:20] DenysAshikhin commented on #262
Thanks, that fixed it. Now serving as:
`app.use('/assetv2', express.static(path.join(__dirname, 'assets_stream')));`
However, I have an issue for my models where I use multiples.

This works:
[code]
but I only get 1 model instead of several compared to when I do:

[code]

I get this error with the ID now:

[code]

[2022-11-30 21:09] brianzinn commented on #262
I can check when I get to a computer. You may need a wildcard on the “use”. The Model component uses the url to build a cache for react Suspense. That part makes loading the “same” file multiple times a bit more interesting. If it’s the same file then I have a recipe.

[2022-11-30 21:47] DenysAshikhin commented on #262
Sounds good, it is the same file but used for different objects (each having their own position and internal information). So the Id is used to separate them... I'll look forward to your fix!

[2022-11-30 23:29] brianzinn commented on #262
I'll copy what I put in #144 here:

"
Yes, that is a good question. It has popped up before and it actually deserves a "recipe" page on it's own. Here is an example from another issue that is similar and explains the mechanism and why it is not working for you.
https://github.com/brianzinn/react-babylonjs/issues/129

For a way to declare instances of existing meshes there are examples linked from